{# @controller \App\Controllers\AboutController::index #}
{% extends 'layout/base.html.twig' %}

{% block content %}
  <div id="content" class="section-container">
    <img src="/img/logo.svg" alt="MLP Vector Club Website Logo">
    <h1><a href="https://www.deviantart.com/mlp-vectorclub">MLP-VectorClub</a> Website</h1>
    <p>Handling requests, reservations & the Color Guide since 2015</p>
    <section class="what-s-this-site-"><h2 id="what-s-this-site-">What's this site?</h2>
      <p>This website originally started as a new, automatic way to process and store the requests &amp; reservations users want to make. It was born due to the fact that in the past, the handling of comments under journals was done manually. Because of this, there had to be people who checked those comments every once in a while, evaluated them, then updated the journal accordingly. This was a time consuming task, and since the group's staff consists of busy people expecting them to constantly monitor new incoming comments is unrealistic. The initial goal of this website was to provide an easy-to-use interface where new entries can be submitted and added to a list (just like the journals) automatically, eliminating this monotonous task.</p>
      <p>After some time, the idea of moving the old PNG color guide into an easier to use format was brought up and met with positive responses. Since then, the site also houses the vector club's official color guide, with freshly picked colors from recent episodes (and cute little pictures to go with a couple popular characters) among other information such as recommended cutie mark vectors and tag-based search. For easier use in drawing applications individual characters can still be downloaded as PNG files that contain all colors associated with them.</p>
    </section>
    <section class="attributions">
      <h2>Attributions</h2>
      <p>Please refer to the project's <a href="{{ constant('GITHUB_URL') }}#attributions">GitHub page</a> for an up to date list of all used tools & libraries.</p>
      <p>
        <strong><a href="/blending">Color Blending Calculator</a></strong> originally made by <a href="https://github.com/dasprid">DASPRiD</a><br>
        <strong>Headings' font:</strong> <a href="http://www.mattyhex.net/CMR/">Celestia Medium Redux</a><br>
        <strong>DeviantArt logo</strong> © <a href="https://www.deviantart.com/">DeviantArt</a><br>
        <strong>Discord logo</strong> © <a href="https://discord.com/branding">Discord</a><br>
        <a href="https://commons.wikimedia.org/wiki/File:Adobe_Illustrator_CC_icon.svg"><strong>Adobe Illustrator CC logo</strong></a> © Adobe Systems Inc.<br>
        <a href="https://commons.wikimedia.org/wiki/File:Inkscape_Logo.svg"><strong>Inkscape logo</strong></a> © Inkscape team<br>
        <a href="https://www.deviantart.com/flutterguy317/art/Ponyscape-PNG-354658716"><strong>Ponyscape logo</strong></a> © <a href="http://flutterguy317.deviantart.com/">flutterguy317</a><br>
        <strong>Application logo</strong> features Penny Curve, the mascot of our group. The image is based on an expression from <a href="https://www.deviantart.com/pirill-poveniy/art/Collab-Christmas-Vector-of-the-MLP-VC-Mascot-503196118">Christmas Vector of the MLP-VC Mascot</a> (made by <a href="http://pirill-poveniy.deviantart.com/">Pirill-Poveniy</a>, <a href="http://thediscorded.deviantart.com/">thediscorded</a>, <a href="http://masemj.deviantart.com/">masemj</a> &amp; <a href="http://ambassad0r.deviantart.com/">Ambassad0r</a>) with the mane design and eye colours from <a href="https://www.deviantart.com/ambassad0r/art/Penny-Curve-MLP-VectorClub-Mascot-2-0-568079382">Penny Curve (MLP-VectorClub Mascot 2.0)</a> (made by <a href="http://ambassad0r.deviantart.com/">Ambassad0r</a>)<br>
        <strong>Color Guide logo vectors</strong> were made by the following artists and their design is &copy; Hasbro Studios, LLC.
      </p>
      <ul>
        <li><a href="http://fav.me/db60g3n">Friendship is Magic</a> by <a href="https://www.deviantart.com/drakizora">Drakizora</a></li>
        <li><a href="http://fav.me/d6923sw">Equestria Girls</a> by <a href="https://www.deviantart.com/charleston-and-itchy">Charleston-and-itchy</a></li>
        <li><a href="http://fav.me/ddztpnc">Pony Life</a> by <a href="https://www.deviantart.com/illumnious">illumnious</a></li>
      </ul>
      <p>
        <strong>External link icon</strong> from <a href="https://fontawesome.com/license">FontAwesome Free</a><br>
        <strong>Vector-based loading icons</strong> were generated using <a href="https://loading.io/">Loading.io</a> (some are no longer available)<br>
        <strong>Browser logos</strong> (used in session list &amp; the <a href="/browser">Browser recognition testing page</a>):
      </p>
      <ul>
        <li><a href="http://fav.me/d9rtlbv">Edge</a> by <a href="https://www.deviantart.com/masemj">masemj</a> (<a href="http://fav.me/d8uhefy">designed</a> by <a href="https://www.deviantart.com/furrgroup">furrgroup</a>)</li>
        <li><a href="http://fav.me/d4b6f4v">Firefox</a> by <a href="https://www.deviantart.com/noreasontohope">NoReasonToHope</a></li>
        <li><a href="http://fav.me/d523s3y">Google Chrome</a> by <a href="https://www.deviantart.com/he4rtofcourage">he4rtofcourage</a></li>
        <li><a href="http://fav.me/d52fp08">Internet Explorer</a> by <a href="https://www.deviantart.com/mcsadat">McSadat</a></li>
        <li><a href="http://fav.me/dacngnh">Opera</a> by <a href="https://www.deviantart.com/masemj">masemj</a> (<a href="http://fav.me/d52qnaw">designed</a> by <a href="https://www.deviantart.com/parallaxmlp">ParallaxMLP</a>)</li>
        <li><a href="http://fav.me/dadu3l9">Safari</a> by <a href="https://www.deviantart.com/masemj">masemj</a> (<a href="http://fav.me/d530knp">designed</a> by <a href="https://www.deviantart.com/parallaxmlp">ParallaxMLP</a>)</li>
        <li>Vivaldi from <a href="https://vivaldi.com/press/">Vivaldi Press Kit</a></li>
        <li>Other logos not mentioned previously were found on <a href="https://github.com/alrra/browser-logos/">alrra/browser-logos</a></li>
      </ul>
      <p>
        <!-- <a href="/cg/blending-reverse"><strong>Blending Reverser</strong></a> built with the help of <a href="https://pirill-poveniy.deviantart.com">Pirill-Poveniy</a> and <a href="https://parcly-taxel.deviantart.com">Parcly-Taxel</a><br> -->
        <strong>Coding, design &amp; hosting:</strong> <a href="https://went.tf">WentTheFox</a>
      </p>
    </section>
    <section id="supported-providers">
      <h2>What image hosting providers do you support?</h2>
      <div>
        <p>As you can probably tell we do not host a large majority of images you can see on episode pages, we just
          <del>steal the bandwidth</del>
          use the help of already established sites. Here's a full list of all providers we can recognize and that you can use to submit images:
        </p>
        <ul>
          <li><a href="https://sta.sh/">Sta.sh</a>*</li>
          <li><a href="https://deviantart.com/">DeviantArt</a>*</li>
          <li><a href="https://imgur.com/">Imgur</a></li>
          <li><a href="https://derpibooru.org/">Derpibooru</a></li>
          <li><a href="https://app.prntscr.com/">LightShot</a></li>
        </ul>
        <p>* Using direct links from these providers is not supported</p>
      </div>
    </section>
    <section>
      <h2>What's after the @ sign in the footer?</h2>
      <div>
        <p>This website is open source, you can find the code <a href="{{ constant('GITHUB_URL') }}">on GitHub</a>. What you're seeing is the commit ID which refers to the most recent version of the code the site is currently operating on. Whenever a new update is deployed, the version number changes automatically. The code on the server mirrors the repository exactly with no hidden alterations.</p>
      </div>
    </section>
  </div>
{% endblock %}
