input:not([type=radio]):not([type=checkbox]):not([type=button]),
select,
textarea {
	border: 1px solid;
	background-color: #efefef;
	color: #313131;
	padding: 4px;
	outline: 0;
	min-height: 18px;
	position: relative;
	line-height: 16px;
	font-size: 14px;
	transition: color .2s, border-color .2s;

	&:focus {
		border-color: #07f;
	}
	&:not(select) {
		&[required], &[pattern] {
			&:focus {
				&:invalid {
					border-color: #d00;
					color: #a00;
				}
				&:valid {
					border-color: #0d0;
					color: #0a0;
				}
			}
			&:not(:focus) {
				:valid:hover {
					border-color: #0a0;
					color: #0d0;
				}
				:invalid:hover {
					border-color: #a00;
					color: #d00;
				}
			}
		}
	}
}
form:hover textarea {
	&[required], &[pattern] {
		&:focus:valid { border-color: #0d0 }
	}
}
select {
	padding-right: 5px;
}
textarea {
	padding-right: 5px;
	min-height: 100px;
}
input[type=checkbox] {
	-webkit-appearance: none;
	display: inline-block;
	border: 1px solid #888;
	background-color: #EFEFEF;
	width: 16px;
	height: 16px;
	border-radius: 3px;
	position: relative;
	margin: 0 3px 0 0;
	vertical-align: bottom;
	top: -2px;

	&:disabled { cursor: default }
	&:checked:before { opacity: 1 }
	&:before {
		position: absolute;
		top: 2px;
		left: 2px;
		content: "\2713";
		font-size: 14px;
		line-height: 10px;
		opacity: 0;
		color: #000;
	}
}
#dialogContent {
	> div:not(#dialogButtons) {
		> form[id] {
			> * {
				display: block;
				margin: 0 auto 10px;
				font-family: inherit;
				width: 100%;
				box-sizing: border-box;

				&:last-child { margin-bottom: 0 }
			}
			label {
				text-align: center;
				cursor: pointer;
				> * { vertical-align: text-bottom }
			}
		}
		input:not([type=radio]):not([type=checkbox]):not([type=button]),
		select,
		textarea {
			color: #313131;
			border: 1px solid #CECECE;
			background-color: #EFEFEF;

			&:not(select) {
				&[required], &[pattern] {
					&:not(:focus){
						&:valid {
							border-color: #00CE00;
							color: #070;
						}
						&:invalid {
							border-color: #a00;
							color: #700;
						}
					}
				}
			}
		}
	}
}
