@import url('https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext');
$ZIndexBase: 21000;

// Mobile-only Styles
@media all and (max-width: $Breakpoint){
	#dialogOverlay {
		background-color: white;
	}
	#dialogBox {
		width: 100%;
		height: auto;
		top: 0 !important;
		left: 0 !important;
	}
}
// Desktop-only Styles
@media all and (min-width: $Breakpoint){
	#dialogOverlay {
		background-color: rgba(white, .9);
		display: flex;
		padding: 10px;
	}
	#dialogBox {
		// http://stackoverflow.com/a/33455342/1344955
		margin: auto;
		max-width: 400px;
		width: auto;
		overflow: hidden;
		flex: 0 0 auto;
		border-radius: 5px 5px 0 0;
		background-color: white;
	}
	#dialogContent {
		border: 1px solid $DefaultUIColor;
		border-top-width: 0;

		overflow: auto;
	}
	body.dialog-open #main { padding-right: #{8px + 15px} }
}

body.dialog-open {
	overflow: hidden;
}
#dialogOverlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: $ZIndexBase;
	overflow: auto;
	box-sizing: border-box;
}
#dialogBox {
	font-family: 'Segoe UI', 'Open Sans', sans-serif;
	min-width: 150px;
	z-index: $ZIndexBase+1;

	/* Colors */
	.blue-bg     { background-color: $NBlue }
	.darkblue-bg { background-color: $NDarkBlue }
	.green-bg    { background-color: $NGreen }
	.red-bg      { background-color: $NRed }
	.orange-bg   { background-color: $NOrange }
	//.yellow-bg   { background-color: $NYellow }
	.blue-border     { border-color: $NBlue }
	.darkblue-border { border-color: $NDarkBlue }
	.green-border    { border-color: $NGreen }
	.red-border      { border-color: $NRed }
	.orange-border   { border-color: $NOrange }
	//.yellow-border   { border-color: $NYellow }
}
#dialogHeader {
	font-weight: 200;
	width: auto;
	padding: 5px 8px;
	font-size: 18px;
	color: #fff;
	background-color: $DefaultUIColor;
}
#dialogContent {
	padding: 15px 10px;
	font-size: 16px;
	font-weight: normal;
	color: $DefaultUIColor;

	form {
		min-width: 350px;

		> label {
			> span {
				~ select,
				~ textarea,
				~ input:not([type=radio]):not([type=checkbox]):not([type=button]) {
					margin-top: 5px !important;
					display: block;
				}
			}
			> select,
			> textarea,
			> input:not([type=radio]):not([type=checkbox]):not([type=button]) {
				width: 100%;
				box-sizing: border-box;
			}
			> textarea {
				resize: vertical;
			}
		}
	}
	.notice {
		padding: 4px 7.5px;
		font-size: .9em;
		border-width: 1px;
	}
	:not(.notice) > p {
		margin: 0 0 5px;

		pre { margin: 5px 0 }
		code {
			background-color: rgba($DefaultUIColor, .1);
			color: $DefaultUIColor;
			font-size: .9em;
			padding: 3px;
			border-radius: 3px;
		}
	}
	> div {
		&:not(:first-child):not(#dialogButtons) {
			border-top: 1px solid;
			padding-top: 5px;
			margin-top: 4px;
		}

		&:not([class]) > .notice {
			margin-top: 10px;
			border-width: 2px;
			font-size: 1em;
			font-weight: bold;
		}

		pre {
			max-width: 100%;
			display: block;
			overflow: auto;
			font-size: 12px;
			padding: 3px;
			margin: 5px 0 10px;
			box-sizing: border-box;
			@include l33th4x;

			&:last-child { margin-bottom: 0 }
		}

		.reset {
			background-color: #fff;
			color: #000;
			margin-top: 5px;

			> font {
				display: block;
				width: 100%;
			}
		}
	}
	> * {
		&:not(p) + p {
			margin-top: 5px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	/* Colors */
	.blue     { color: $NBlue }
	.darkblue { color: $NDarkBlue }
	.green    { color: $NGreen }
	.red      { color: $NRed }
	.orange   { color: $NOrange }
	//.yellow   { color: $NYellow }
}
#dialogButtons {
	width: auto;
	font-size: 18px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 15px;

	&:empty { display: none }

	button, input {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		height: 32px;
		color: #fff;
		margin: 0 10px 0 0 !important;
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		padding: 3px 10px;
		position: relative;
		outline: none;
		opacity: .85;
		border: 3px solid transparent;
		border-radius: 4px;
		box-sizing: border-box;
		background-color: $DefaultUIColor;
		transition: opacity .1s;

		&[disabled] { cursor: not-allowed }
		&:last-child { margin-right: 0 !important }
		&:hover, &:focus { opacity: 1 }
		&:focus { border-color: rgba(black, .2) }
		&:active {
			top: 1px;
			left: 1px;
		}
	}
}
