@import "colorguide_vars";
@import "vars";

#content {
	> .sprite {
		margin: 0 auto 5px;
		display: block;
		width: 100%;
		max-width: 300px;
		height: 300px;

		img {
			height: 300px;
		}
	}
	> h1 {
		font-size: 2.2em;
		line-height: 1.2em;
		margin-bottom: 10px;
	}

	section { @extend %section }

	#tags .tags {
		&:empty:before { content: "This appearance has no tags" }
		> :not(:last-child) {
			margin-right: 7px;
		}
	}

	#notes {
		white-space: pre-wrap;
	}

	#pony-cm img {
		max-width: 175px;
		max-height: 175px;
		border: 2px solid $DeviationBorder;
		box-shadow: 0 0 5px $DeviationBorder;
		background: url(../img/transparency.svg) repeat;
		background-size: 12px;
	}

	#colors {
		margin: 10px 0 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;

		li {
			margin: 5px;
			padding: 10px;
			color: #434343;
			background-color: rgba(0,0,0,.07);
			border: 1px solid rgba(0,0,0,.2);
			font-size: 12px;
			font-family: 'Verdana', sans-serif;
			flex: 1 0 auto;
			text-align: center;

			> .cat {
				font-size: 2.2em;
				font-weight: bold;
				display: block;
				margin: 0 0 5px;
				font-family: 'Celestia', sans-serif;

				~ span {
					@include colored-square(35px);
				}
				~ .color-line {
					display: flex;

					&:not(:last-child){
						margin-bottom: 5px;
					}

					:first-child {
						display: block;
						flex: 0 0 35px;

						@include colored-square(35px);
					}
					:last-child {
						display: block;
						flex: 1 1 auto;
						font-size: 20px;
						line-height: 35px;
						height: 35px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						text-align: left;
						box-sizing: border-box;
						padding: 0 5px;
					}
				}
			}
		}
	}
}
