@import "vars";
@import "colorguide_vars";

#edit-tag .type-selector {
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	user-select: none;

	> span { margin-bottom: 5px }

	label {
		flex: 1 1 auto;
		margin: 2px;
		position: relative;
		overflow: hidden;

		* { cursor: pointer }
	}
	input {
		position: absolute;
		top: -20px;
		left: -20px;
		width: 0;
		height: 0;

		~ .tag {
			display: block;
			height: auto;
		}
		&:not(:checked) ~ .tag { opacity: .5 }
		&:focus ~ .tag { border-style: dashed }
		&:not(:checked):focus ~ .tag { opacity: .75 }
	}
}

#cg-editor {
	overflow: hidden;

	label.major {
		> input[type="checkbox"]:not(:checked) {
			+ br, + input[type="text"] {
				display: none;
			}
		}
	}

	.clr { @extend %clr }
}

#cg-reorder .cgs ol {
	list-style-position: inside;
	margin: 0;
	padding: 0;
	counter-reset: list;

	li {
		display: inline-block;
		margin: 2px;
		padding: 2px;
		font-size: 14px;
		color: $NBlue;
		border: 1px solid;
		border-radius: 5px;
		background: $NBlueBG;
		cursor: move;

		&.moving { box-shadow: 0 0 10px rgba(0,0,0,.5) }

		&:before {
      content: counter(list) ". ";
      counter-increment: list;
		}
	}
}
