@import "colorguide_vars";
@import "vars";
@import "theme_section";

// Mobile-only
@media all and (max-width: $Breakpoint){
	#pony-cm {
		margin-left: auto;
		margin-right: auto;


		@include pony-cm-image(200px);
	}

	#content .cat {
		line-height: 1em;

		.admin {
			margin-top: 5px;
			display: block;
			font-size: .9em;

			button {
				margin: 0;

				&:not(:last-child){ margin-right: 5px }
			}
		}
	}
}
// Desktop-only
@media all and (min-width: $Breakpoint){
	#pony-cm { @include pony-cm-image }

	#content .admin { display: none }
}

#content {
	> .sprite-wrap {
		text-align: center;
		line-height: 0;

		.sprite {
			display: inline-block;

			> .upload-wrap {
				&.nosprite img {
					width: 300px;
					height: 300px;
				}

				a, a > img {
					display: block;
				}
				a > img {
					margin: 0 auto;
					max-width: 100%;
				}
			}

			img {
				max-width: 100%;
				max-height: 300px;
			}
		}
	}
	> h1 {
		font-size: 2.2em;
		line-height: 1.2em;
		margin-bottom: 10px;
	}

	section {
		@extend %section;

		> .admin button {
			display: block;
			margin: 0;
			width: 100%;

			&:not(:last-child){ margin-bottom: 5px }
		}
	}

	#tags .tags {
		&:empty:before { content: "This appearance has no tags" }
		> :not(:last-child) {
			margin-right: 7px;
		}
	}

	#notes {
		font-size: 1.1em;
		background: papayawhip;
		color: saddlebrown;
		padding: 10px;
		border: 1px solid burlywood;
		display: inline-block;
	}

	.approved-cutie-mark {
		#pony-cm { margin-bottom: 10px }
		.aside {
			font-size: small;
			margin-bottom: 4px;
		}
	}

	#colors {
		padding: 0;
		list-style: none;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;

		li {
			margin: 5px;
			padding: 10px;
			color: #434343;
			background-color: rgba(0,0,0,.07);
			border: 1px solid rgba(0,0,0,.2);
			font-size: 12px;
			font-family: 'Verdana', sans-serif;
			flex: 1 0 auto;
			text-align: center;

			> .cat {
				font-size: 2.2em;
				font-weight: bold;
				display: block;
				margin: 0 0 5px;
				font-family: 'Celestia', sans-serif;

				~ span {
					@include colored-square(35px);
				}
				~ .color-line {
					display: flex;

					&:not(:last-child){
						margin-bottom: 5px;
					}

					:first-child {
						display: block;
						flex: 0 0 35px;

						@include colored-square(35px);
					}
					:last-child {
						display: block;
						flex: 1 1 auto;
						font-size: 20px;
						line-height: 35px;
						height: 35px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						text-align: left;
						box-sizing: border-box;
						padding: 0 5px;
					}
				}
			}
		}
	}
}
