@import "vars";
@import "colorguide_vars";

.tag > .uses {
	font-weight: normal;
	font-size: .9em;
	padding: 1px 2px;
}
.tag.monospace > .uses {
	font-family: $monospace;
}
.tag.synonym { opacity: .8 }
.twitter-typeahead {
	.tt-dataset { background: #fff }
	.tag.synonym > .uses {

		.typcn { margin-right: 4px }
	}
	input { font-weight: normal !important }
}
.tag.addtag.tt-hint { color: rgba(black, .5) !important }

#edit-tag .type-selector {
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	user-select: none;

	> span { margin-bottom: 5px }

	label {
		flex: 1 1 auto;
		margin: 2px;
		position: relative;
		overflow: hidden;

		* { cursor: pointer }
	}
	input {
		position: absolute;
		top: -20px;
		left: -20px;
		width: 0;
		height: 0;

		~ .tag {
			display: block;
			height: auto;
		}
		&:not(:checked) ~ .tag { opacity: .5 }
		&:focus ~ .tag { border-style: dashed }
		&:not(:checked):focus ~ .tag { opacity: .75 }
	}
}

#cg-editor {
	overflow: hidden;

	label.major {
		> input[type="checkbox"]:not(:checked) {
			+ br, + input[type="text"] {
				display: none;
			}
		}
	}

	.clr { @extend %clr }
	.clrs.ace_editor {
		height: 180px;
		border: 1px solid $DefaultUIColor;

		&, * {
			font-family: $monospace !important;
			font-size: 14px !important;
		}
	}
}

#cg-reorder .cgs ol {
	list-style-position: inside;
	margin: 0;
	padding: 0;
	counter-reset: list;

	li {
		display: inline-block;
		margin: 2px;
		padding: 2px;
		font-size: 14px;
		color: $NBlue;
		border: 1px solid;
		border-radius: 5px;
		background: $NBlueBG;
		cursor: move;

		&.moving { box-shadow: 0 0 10px rgba(0,0,0,.5) }

		&:before {
      content: counter(list) ". ";
      counter-increment: list;
		}
	}
}
