@import "vars";

// Mobile
@media all and (max-width: $Breakpoint){
	#feedback {
		display: block;

		li {
			display: block;

			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}
}
// Desktop
@media all and (min-width: $Breakpoint){
	#feedback {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;

		li {
			margin: 2px;
			flex: 1 0 auto;
		}
	}
}

#feedback {
	padding: 0;
	margin: 0;
	width: 100%;

	&:empty:before {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 1.2em;
		font-style: italic;
		content: "No feedback to show";
		margin-top: 10px;
	}

	li {
		display: flex;
		align-items: center;

		&.open {
			color: $NGreen;
			background-color: $NGreenBG;
			border: 1px solid $NGreen;

			> img { background-color: darken($NGreenBG, 5) }
		}
		&.closed {
			color: #434343;
			background-color: #eee;
			border: 1px solid #bbb;

			> img { background-color: #ddd }
		}

		$ImageSize: 50px;
		$ImageMargin: 5px;
		$ImageBorder: 1px;
		//noinspection CssOptimizeSimilarProperties
		> img {
			flex: 0 0 $ImageSize;
			margin-right: $ImageMargin;
			border-right: $ImageBorder solid;
			border-right-color: inherit;
		}
		> .text {
			max-width: calc(100% - #{$ImageSize+$ImageBorder+($ImageMargin*2)});

			> * {
				display: block;
				flex: 1 1 auto;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				&.subject {
					font-size: 1.15em;
				}
				&.info { font-size: .8em }
				&.id { font-size: .6em }
			}
		}
	}
}
