@import "vars";

@media all and (max-width: $Breakpoint){
	.expand-section {
		display: block;
		width: calc(100% - 10px);
	}
	.expandable-section {
		border-top-right-radius: 0 !important;
	}
	#logs tr > .timestamp {
		text-align: center;
		vertical-align: middle;

		time { display: none !important }
		.dynt-el {
			text-decoration: underline;
			color: #059;
			cursor: pointer;
		}
	}
}
@media all and (min-width: 500px){
	#dialogContent .modal-ip {
		display: none;
	}
}
@media all and (max-width: 500px){
	#logs tr > .ip {
		display: none;
	}
}
#logs {
	width: 100%;

	tr td {
		&.entryid {
			width: 5%;
			text-align: center;
		}
		&.timestamp {
			width: 35%;

			time, .dynt-el { display: block }
			.dynt-el {
				font-style: italic;
				font-size: .8em;
			}
		}
		&.ip {
			width: 20%;

			.self { font-size: .8em }
		}
		&.reftype {
			width: 40%;
			padding: 12px;
		}
	}
	tbody .entryid {
		font-size: 1.6em;
	}
}
.expand-section {
	display: inline-block;
	background-color: rgba(0,0,0,.15);
	border-radius: 5px;
	padding: 3px 5px;
	cursor: pointer;
	user-select: none;

	transition-property: background-color, border-radius;
	transition-duration: .5s;

	&:before {
		font-size: 1.2em;
	}
	&.typcn-minus {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

		background-color: rgba(0,0,0,.075);
	}
}
.expandable-section {
	padding: 10px;
	background-color: rgba(0,0,0,.075);
	border-radius: 0 8px 8px 8px;

	p {
		margin: 0;

		i { font-size: .8em }
	}

	pre {
		margin: 0;
		max-width: 400px;
		overflow: auto;
	}

	img {
		max-width: 200px;
	}
}
