{
	"presets": [
		"@babel/env",
		"@babel/react"
	],
	"plugins": [
		"@babel/plugin-transform-react-jsx",
		"@babel/plugin-transform-object-rest-spread",
		"@babel/plugin-proposal-private-methods",
		"@babel/plugin-proposal-class-properties"
	]
}
