{
	"parser": "babel-eslint",
	"env": {
		"browser": true,
		"jquery": true,
		"es6": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"plugins": [
		"react"
	],
	"parserOptions": {
		"sourceType": "script",
		"ecmaVersion": 6,
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"rules": {
		"camelcase": 0,
		"curly": 0,
		"wrap-iife": [
			2,
			"any"
		],
		"linebreak-style": 2,
		"comma-style": [
			2,
			"last"
		],
		"new-cap": 2,
		"strict": [
			2,
			"function"
		],
		"no-undef": 2,
		"no-unused-vars": 0,
		"no-console": 0,
		"react/prop-types": 0
	},
	"globals": {
		"$body": true,
		"$content": true,
		"$d": true,
		"$footer": true,
		"$head": true,
		"$header": true,
		"$main": true,
		"$navbar": true,
		"$sbToggle": true,
		"$sidebar": true,
		"$w": true,
		"CodeMirror": true,
		"Key": true,
		"PropTypes": true,
		"React": true,
		"ReactDOM": true,
		"Sortable": true,
		"Time": true,
		"ace": true,
		"cuid": true,
		"io": true,
		"jQuery": true,
		"md5": true,
		"mk": true,
		"moment": true,
		"noUiSlider": true,
		"saveAs": true
	}
}
