# Let's encrypt
/www/.well-known/
/includes/conf.php
*.log
*.opdownload
/node_modules/
/www/css/*.scss*
/www/js/min/ace/mode-colorguide.*
/www/js/min/pages/
/www/js/min/Blob.*
/www/js/min/canvas-toBlob.*
/www/js/min/canvas.hdr.*
/www/js/min/colorpicker.*
/www/js/min/dialog.*
/www/js/min/global-color_avg_form.*
/www/js/min/global.*
/www/js/min/jquery.ctxmenu.*
/www/js/min/jquery.ponycolorpalette.*
/www/js/min/jquery.simplemarquee.*
/www/js/min/jquery.swipe.*
/www/js/min/jquery.uploadzone.*
/www/js/min/paginate.*
/www/js/min/shared-utils.*
/www/scss/min/
/www/*.html
/fs/
/setup/*_data.pg.sql
/vendor/
