# Well Known excpetions
/www/.well-known/*
!/www/.well-known/security.txt*
!/www/.well-known/assetlinks.json
!/www/.well-known/apple-app-site-association

/includes/conf.php
*.log
*.opdownload
/node_modules
/www/css/*.scss*
/www/*.html
/fs
/setup/*.pg.sql
!/setup/create_extensions.pg.sql
/vendor
