# Well Known excpetions
/www/.well-known/*
!/www/.well-known/security.txt*
!/www/.well-known/assetlinks.json
!/www/.well-known/apple-app-site-association

/includes/conf.php
*.log
*.opdownload
/node_modules
/www/img/cg
/www/img/sprites
/www/img/cg_render
*.crdownload
/www/css/*.scss*
/www/*.html
/fs
/!setup/*.pg.sql
/setup/*_data.pg.sql
/vendor
/.idea
