<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" bootstrap="config/init/minimal.php" processIsolation="false" stopOnFailure="false" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="Test Suite">
      <directory suffix="Test.php">tests</directory>
      <exclude>tests/Browser</exclude>
    </testsuite>
  </testsuites>
  <php>
    <server name="SERVER_NAME" value="mlpvector.lc"/>
    <server name="REQUEST_METHOD" value="GET"/>
  </php>
</phpunit>
