<section id="hash-copy">
  <h2>Color Guide</h2>
  <p>Clicking colored squares copies its HEX color to your clipboard. Shift-clicking will display RGB values instead.</p>
  <label class="disabled">
    <input type="checkbox" id='toggle-copy-hash' disabled>
    <span>Copy # with color codes</span>
  </label>
</section>
