{# @controller \App\Controllers\ColorGuideController::picker #}
{% extends 'layout/base.html.twig' %}

{% block content %}
  <div id="content">
    <iframe src="/cg/picker/frame" id="picker-frame"></iframe>
  </div>
{% endblock %}
