@import "vars";
@import "theme_section";
@import "theme_post-ul";

#content {
	> section {
		@extend %section;

		&.overdue-submissions table {
			font-size: 1.7em;

			td {
				padding: 5px;
			}
			.da-userlink {
				border: 0;
				background: none;

				> * {
					vertical-align: middle;
				}

				img { border: 0 }

				.name {
					font-size: .8em;
				}
			}
		}
		&.useful-links {
			ol {
				margin: 5px 0 0;
				font-size: 1.2em;
				padding-left: 30px;

				&:empty:before {
					content: "There are no useful links in the database";
					font-style: italic;
				}

				li {
					&:not(:last-child) { margin-bottom: 10px }

					.buttons {
						margin-top: 5px;

						button, .btn {
							margin: 0;
							&:not(:last-child) { margin-right: 10px }
						}

						.typcn-arrow-move { cursor: move !important }
					}
				}
			}
		}
		&.mass-approve {
			@media all and (max-width: $Breakpoint){
				display: none;
			}
			.textarea {
				width: 200px;
				height: 2em;
				line-height: 1em;
				border: 1px solid black;
				background: white;
				overflow: hidden;
				padding: 10px;
				cursor: text;
				font-family: $monospace;

				&:before {
					content: "Paste here";
					position: absolute;
					color: rgba(black, .5);
				}

				> * { display: none }
			}
		}
		&.elastic-status pre {
			overflow: auto;
		}
		&.recent-posts {
			> div:empty {
				height: 100px;
				width: 100%;
				margin: 10px 0 0;
				background: url('/img/loading-gears.svg') no-repeat center;
				background-size: contain;
			}
			ul {
				@extend %post-ul;
				margin-bottom: 0;

				&:empty:before {
					content: "No recent posts to show";
					font-style: italic;
				}

				li .reserver .da-userlink .name {
					font-size: 16px;
					vertical-align: middle;
				}
			}
		}
	}
}
