@import "vars";
@import "theme_section";

#content > h1 + p select { font: inherit }
#full-list {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;

	&:empty:before {
		font-size: 1.4em;
		font-style: italic;
		content: "No appearances to show";
		display: block;
		text-align: center;
	}

	$fontsize: 20px;

	&.sorting {
		section > ul {
			font-size: 0;

			li > a {
				font-size: $fontsize;
				cursor: move;

				border-color: initial;

				&.moving { text-shadow: 0 0 5px currentColor, 0 0 10px currentColor }
			}
		}
	}

	section {
		@extend %section;

		h2 > button {
			margin-left: 1em;
			display: inline;
			margin-top: 0;
			margin-bottom: 0;
			padding-top: 0;
			padding-bottom: 0;
		}

		ul {
			font-size: $fontsize;
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				position: relative;
				display: inline-block;

				&:not(:last-child) a { margin-right: .8em }

				a {
					display: inline-block;
					padding: 1px 3px;
					border: 2px solid transparent;
					margin-bottom: 1px;

					.typcn, .typcn:before {
						display: inline !important;
						font-size: 1em !important;
					}
				}
			}
		}
	}
}
