@import "../../../node_modules/normalize.css/normalize.css";
@import "vars";
@import "shared-utils";
@import "components/vital/ace-editor";
@import "components/vital/buttons";
@import "components/vital/dialog";
@import "components/vital/fonts";
@import "components/vital/forms";
@import "components/vital/notices";
@import "components/vital/section";
@import "vendor/typicons";
// Mobile-only Styles
@media all and (max-width: $Breakpoint) {
	.desktop-only { display: none !important }
	body {
		overflow: initial;
		background: $StyledBackground;

		@media all and (max-width: $Breakpoint){
			&.sidebar-open { overflow: hidden }
		}
	}
	header, footer {
		position: initial;
	}
	header {
		background: $HeaderFooterBG;
		
		nav {
			height: 100%;
			position: relative;
			transition: box-shadow .5s ease-in-out;

			&:after {
				content: "MLPVC-RR";
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				width: 100%;
				height: 100%;
				display: block;
				text-align: center;
				font-size: 28px;
				line-height: 45px;
				color: #000;
				@include outline(2);
				font-family: 'Celestia', sans-serif;
			}
			ul {
				position: relative;
				z-index: 2;

				li:not(:first-child) { display: none }
			}
		}
	}
	#sidebar {
		height: calc(100% - 50px);
		background: rgba(black, .95) !important;
		padding-top: 0 !important;

		> .mobile-nav {
			display: block;
			position: relative;
			left: -10px;
			width: calc(100% + 20px);
			padding: 5px 7px;
			margin-bottom: 10px !important;
			background: $HeaderFooterBG;
			box-sizing: border-box;

			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				font-size: 1.1em;
			}
		}
	}
	#main {
		position: initial;
		padding: 5px;
		@include white-grid;
	}
	#content h1 {
		font-size: 1.7em;

		+ p { font-size: 1.4em }
	}

	footer { text-align: center }

	.notice > label:first-child { text-align: center; font-size: 1.2em }
}
// Desktop-only Styles
@media all and (min-width: $Breakpoint) {
	.mobile-only { display: none !important }
	body {
		overflow-x: auto;
		overflow-y: scroll;
		@include white-grid;

		&.fluidbox-open {
			overflow: hidden;
			padding-right: 18px;

			header, footer {
				opacity: 0;
				pointer-events: none;
			}
			#sidebar { display: none }
		}
	}

	header, footer {
		z-index: 3;
		left: 0;
	}

	header {
		background: $HeaderFooterBG;
		top: 0 !important;
		overflow: hidden;

		nav {
			height: $HeaderHeight;
			width: 100%;

			ul {
				overflow: hidden;
			}
		}
	}

	#main {
		position: relative;
		z-index: 1;
		padding: $MainMargin $MainMargin #{$MainMargin + $FooterHeight} $MainMargin;
	}
	#content h1 {
		font-size: 2em;

		+ p { font-size: 1.6em }
	}
	#sidebar {
		height: calc(100% - #{$HeaderHeight} - #{$FooterHeight});

		.mobile-nav { display: none }
	}
	footer {
		position: fixed;
		bottom: 0;
		height: $FooterHeight;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		background: $StyledBackground;
	}

	.notice > label:first-child { font-size: 1.4em }
}
// Sidebar always visible
@media all and (min-width: $SidebarBreakpoint){
	#sidebar { left: 0 !important }
	#main { padding-left: $SidebarWidth + $MainMargin }

	header nav ul {
		padding-left: $HeaderLiTopMargin !important;
		padding-right: $HeaderLiTopMargin !important;
		padding-top: $HeaderLiTopMargin !important;

		li.sidebar-toggle {
			display: none;

			+ li {
				margin-left: 0 !important;
			}
		}
	}
}
@media all and (max-width: $SidebarBreakpoint){
	#sidebar {
		transition: left .5s ease-in-out;
		will-change: left;
	}
	@include sidebar-open {
		#sidebar { left: 0 !important }
	}
}
// Global Stuff
.hidden, datalist, template { display: none !important }
.unreadable { font-size: 0 }
.star-info {
	cursor: help;
	color: black;
	transform: rotate(5deg);
	font-weight: bold;
}
.responsive-table {
	overflow-x: auto;
}
:focus { outline: 0 }
a > img { border: 0 }
.cursor-help, time[datetime][title] { cursor: help }
small { font-size: .75em }
strong.typcn:before, span.typcn:not(:empty):before, em.typcn:before,
button:not(:empty):before, .btn:not(:empty):before {
	margin-right: 0.3125em;
}
img.avatar {
	width: $AvatarSize;
	height: $AvatarSize;
}
.resp-embed-wrap { @extend %resp-embed-wrap }
.responsive-embed { @extend %responsive-embed }
.xdebug-error {
 &, & * {
  font-size: 18px !important;
 }
}
// Page layout
body {
	margin: 0;
	padding-top: $HeaderHeight;
	font-family: $RegularFont;
}
// Page layout - Header
header {
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	width: 100%;
	height: $HeaderHeight;
	@include navfoot;

	// Page layout - Header - Navigation
	nav {
		display: block;
		line-height: 0;
		font-size: 0;
		white-space: nowrap;
		user-select: none;
		cursor: default;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: block;

			li {
				display: inline-block;
				color: #fff;
				height: 24px;
				line-height: 24px;
				font-size: 18px;
				box-sizing: border-box;
				vertical-align: middle;

				&:not(:first-child) { margin-left: 7px }

				&.sidebar-toggle {
					$toggleSize: 45px;
					position: relative;
					margin: 2.5px;
					width: $toggleSize;
					height: $toggleSize;
					cursor: pointer;
					transition: background-color .35s linear;

					&:before {
						display: block;
						font-family: 'Typicons';
						font-size: $toggleSize*0.8;
						line-height: $toggleSize;
						height: $toggleSize;
						width: $toggleSize;
						position: absolute;
						z-index: 5;
						text-align: center;
						opacity: .9;

						transition: opacity .2s linear, font-size .2s linear;
						will-change: opacity, font-size;
					}

					body.sidebar-open & {
						&:before {
							content: '\e047';
						}
					}
					@include sidebar-open {
						& {
							> *:not(.notif-cnt) {
								opacity: 0;
								transition: opacity .35s linear;
							}
							> .notif-cnt {
								font-size: 12px;
								padding: 0 2px;
								height: 1.2em;
								line-height: 1.2em;
								box-shadow: 0 0 5px $HeaderFooterBG;
							}
						}
					}
					@include sidebar-closed {
						&:before {
							content: '\e116';
						}
					}

					> .notif-cnt {
						position: absolute;
						z-index: 6;
						bottom: 0;
						right: 0;
						padding: 0 4px;
						cursor: pointer;
						color: $NRed;
						text-shadow: 0 1px 0 rgba($NRed, .3);
						background: #fff;
						border-radius: 4px;
						font-size: 16px;
						font-weight: bold;
						display: inline-block;
						max-width: 100%;
						height: #{$toggleSize / 2};
						line-height: 1.5em;
						overflow: hidden;
						text-align: center;
						will-change: opacity, font-size, padding, height, line-height, box-shadow;
						transition-property: opacity, font-size, padding, height, line-height, box-shadow;
						transition-duration: .35s;
						transition-timing-function: linear;
						box-shadow: 0 0 5px 2px $HeaderFooterBG;

						&:empty { display: none }
					}
				}

				&:not(:first-child){
					@extend %navbar-li;
				}
			}
		}
	}
}
// External link icon
header, #sidebar .mobile-nav {
	a[href^=http]:after {
		font-style: italic;
		content: "";
		width: 12px;
		height: 12px;
		background-image: url(/img/extlink.svg);
		background-size: 12px;
		display: inline-block;
		margin-left: 2px;
	}
}
// Page layout - Content
#main {
	position: relative;
	z-index: 1;
	width: 100%;
	box-sizing: border-box;
	transition: opacity .5s;

	&.locked { overflow: visible }
	&.pls-wait {
		opacity: .5;
		pointer-events: none;
		transition: none;
	}
}
#content {
	border-radius: 5px;
	border: 1px solid $ContentOutline;
	background-color: $ContentBG;
	padding: 10px;
	color: #000;
	box-sizing: border-box;
	width: 100%;

	h1 {
		text-align: center;
		margin: 0 0 5px;
		font-family: "Celestia", sans-serif;

		+ p {
			text-align: center;
			margin: 0 0 10px;
			font-style: italic;
		}
	}
}
#content, #dialogContent, .notice {
	a:not(.btn) { @include link }
}
// Page layout - Sidebar
#turbo-sign-in:before { vertical-align: top }
.btn-da, .btn-discord {
	color: white;

	//noinspection CssOptimizeSimilarProperties
	&:before {
		content: "_";
		color: transparent;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}
}
.btn-da {
	background-color: $DeviantArtGreen !important;
	&:before { background-image: url('/img/da-logo.svg') }
}
.btn-discord {
	background-color: #7289DA !important;

	&:before { background-image: url('/img/discord-logo-white.svg') }
}
#sidebar {
	position: fixed;
	z-index: 2;
	top: 50px;
	left: -$SidebarWidth;
	width: $SidebarWidth;
	max-width: 100%;
	box-sizing: border-box;
	color: #fff;
	background: rgba(black, .9);
	padding: 10px;
	text-align: center;
	overflow: auto;
	will-change: left, width;

	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar-button {
		display: none;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #aaa;
		border-radius: 6px;
		width: 6px;
		border: 2px solid transparent;
		background-clip: padding-box;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}

	@include sidebar-open { left: 0 }

	> .mobile-nav ul li {
		display: inline-block;
		margin: 0 2px;

		@extend %navbar-li;
	}

	.btn-da, .btn-discord {
		margin: 0;
	}

	> .logged-in {
		display: flex;
		flex-flow: row nowrap;
		padding: 4px;
		margin-bottom: 10px;
		border-radius: 50px;

		&.provider-deviantart {
			border-radius: 5px;
		}

		a { @include link($LinkLight, $LinkHoverLight) }

		.avatar-wrap {
			flex: 1 1 auto;
			display: block;
			margin: 0 10px 0 0;
			width: 50px;
			height: 50px;

			.avatar {
				width: 50px;
				height: 50px;
			}
		}

		.user-data {
			flex: 1 1 100%;
			text-align: left;
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-around;
			align-items: left;
			max-width: calc(100% - 50px - 4px - 10px);

			.user-name {
				display: block;
				font-size: 1.5em;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.user-role {
				display: block;
				text-transform: uppercase;
				font-size: .8em;
			}
		}
	}

	> section {
		text-align: center;

		&:not(:last-child) { margin-bottom: 15px }

		h2 {
			font-size: 24px;
			margin: 0 0 5px;
			font-family: "Celestia", sans-serif;
			font-weight: normal;
		}
		p {
			margin: 0;

			a {
				display: inline-block;
				line-height: .9em;
				color: #fff;
				text-decoration: none;
				border-bottom: 1px solid rgba(white, .5);
				transition: border-bottom-color .1s;
				cursor: pointer;

				&:hover, &:focus {
					border-bottom-color: rgba(white, .7);
				}
				&:active { border-bottom-color: white }
			}
		}

		.buttons > * { margin: 0 }

		&.welcome .links {
			list-style: none;
			border-radius: 5px;
			margin: 0 0 10px;
			padding: 5px;
			line-height: 1.2em;

			&:before {
				content: "Useful links";
				display: block;
				border-bottom: 1px solid;
				font-size: 1.2em;
				line-height: 1.2em;
				margin-bottom: 5px;
				text-align: left;
				font-weight: bold;
			}
			&:empty { display: none }

			li {
				display: inline-block;
				white-space: normal;

				a {
					display: inline-block;
					text-decoration: none;
					color: inherit;
					border-bottom: 1px solid transparent;
					transition: border-bottom-color .2s linear;
				}

				&:not(:last-child):after {
					content: ",";
					margin-right: .3em;
					display: inline-block;
				}
				&:not(.active) a:hover:not(:active) {
					border-bottom-color: initial;
				}
				&.active a {
					border-bottom-color: rgba(255, 255, 255, .5);
				}
			}
		}
		&.notifications ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				padding: 3px 0;
				&:not(:last-child){
					border-bottom: 1px solid rgba(white, .2);
				}
				a {
					@include link($LinkLight, $LinkHoverLight);
				}

				.nobr {
					white-space: nowrap;

					.mark-read {
						cursor: pointer;
						padding: 1px 3px;
						border-radius: 3px;

						&:first-of-type { margin-left: .5em }
						&:not(:first-of-type) { margin-left: 3px }


						&.variant-green {
							color: $NGreen;
							background: $NGreenBG;
						}
						&.variant-red {
							color: $NRed;
							background: $NRedBG;
						}
						&.variant-orange {
							color: $NOrange;
							background: $NOrangeBG;
						}
						&.variant-lavander {
							color: $NLavander;
							background: $NLavanderBG;
						}
					}
				}
			}
		}
	}
	#upcoming {
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			text-align: left;

			li {
				display: block;
				white-space: nowrap;

				&:not(:last-child) {
					margin-bottom: 5px;
				}

				> * { vertical-align: middle }
				.calendar {
					width: 40px;
					height: 40px;
					display: inline-block;
					position: relative;
					box-shadow: inset 0 0 5px rgba(0, 0, 0, .3);
					background: #fafafa;
					text-align: center;

					> * {
						width: 100%;
						display: block;
						box-sizing: border-box;
					}
					.top {
						top: 0;
						height: 15px;
						line-height: 15px;
						background: $NRed linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .1) 100%);
						color: #fff;
						text-transform: uppercase;
						font-weight: bold;
						font-size: 13px;

						&.event {
							background-color: $NBlue;
						}

						&.movie {
							background-color: $NOrange;
						}
					}
					.bottom {
						bottom: 0;
						height: 25px;
						line-height: 25px;
						font-size: 1.5em;
						color: #000;
						border: 1px solid #777;
						border-top: 0;
					}
				}
				.meta {
					display: inline-block;
					margin: 2.5px 0 2.5px 5px;
					max-width: calc(100% - 45px);
				}
				.title, .time, .countdown {
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.title {
					font-size: 18px;
					height: 21px;

					a {
						display: inline-block;
						@include link($LinkLight, $LinkHoverLight);
					}
				}
				.time, .countdown {
					font-size: 12px;
					height: 14px;
				}
			}
		}
	}

	> section.welcome .links, > .logged-in {
		color: rgba(white, .6);
		background-color: rgba(white, .1);
		border: 1px solid rgba(white, .3);
	}
}
.avatar-wrap {
	position: relative;
	border: 2px solid;
	margin: 0 auto 5px;
	width: $AvatarSize;
	height: $AvatarSize;
	cursor: default;
	user-select: none;
	color: #777;
	background-color: #efefef;
		overflow: hidden;

	&.provider-deviantart {
		border-radius: 5px;
	}
	&.provider-discord {
		&, .avatar { border-radius: 100% }
	}
}
.da-userlink {
	&.with-avatar {
		@extend %reserve-button;

		$image-height: 1.4em;

		&.local {
			$border: 1px solid lighten($HeaderFooterBG, 20);
			background: lighten($HeaderFooterBG, 47);
			border: $border;

			&.provider-discord {
				&, .avatar{
					border-radius: ($image-height + .1em) / 2;
				}
			}
		}

		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		font-style: normal;
		font-size: $image-height * 0.75;
	  vertical-align: middle;

		> * {
			display: inline-block;
	    vertical-align: bottom;
		}
		.avatar {
			height: $image-height;
			width: $image-height;
		}
		.name {
			display: inline-block;
			margin-right: 5px;
			line-height: $image-height;
		}
	}

	.vectorapp-logo {
		height: 1em;
		display: inline-block;
		margin-left: 5px;
	}
}
// Page layout - Footer
footer {
	display: block;
	width: 100%;
	padding: 10px;
	line-height: 18px;
	@include navfoot;

	a {
		text-decoration: underline;
		color: inherit;
	}
	abbr {
		border-bottom: 1px dashed;
		cursor: help;
		font-weight: bold;
	}
}
// Colors
.color-blue     { color: $NBlue !important }
.color-darkblue { color: $NDarkBlue !important }
.color-teal     { color: $NTeal !important }
.color-green    { color: $NGreen !important }
.color-red      { color: $NRed !important }
.color-orange   { color: $NOrange !important }
.color-yellow   { color: $NYellow !important }
.color-ui       { color: $DefaultUIColor !important }
.color-lightblue     { color: darken($NBlueBG, 10) !important }
.color-lightdarkblue { color: darken($NDarkBlueBG, 10) !important }
.color-lightteal     { color: darken($NTealBG, 10) !important }
.color-lightgreen    { color: darken($NGreenBG, 10) !important }
.color-lightred      { color: darken($NRedBG, 10) !important }
.color-lightorange   { color: darken($NOrangeBG, 10) !important }
.color-lightyellow   { color: darken($NYellowBG, 10) !important }
// Alignment
.align-center { text-align: center }
.align-left { text-align: left }
.align-right { text-align: right }
// Pagination
ul.pagination {
	display: block;
	padding: 0;
	margin: 10px 0;
	list-style: none;
	text-align: center;
	user-select: none;
	cursor: default;
	transition: opacity .2s linear;
	will-change: opacity;

	&:last-child { margin-bottom: 0 }
	&:empty { display: none }

	&.loading {
		cursor: not-allowed;
		a {
			pointer-events: none;
		}
	}

	li {
		display: inline-block;
		border: 1px solid #aaa;
		background: linear-gradient(to bottom, #fff 0%, #dedede 100%);
		overflow: hidden;

		&:not(:last-child) { border-right: 0 }
		&:first-child {
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		&:last-child  {
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}

		&.loading {
			overflow: hidden;
			position: relative;
			&, * {
				color: transparent !important;
			}
			a {
				background-color: rgba(black,.1);
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				@include loading-indicator(100%, 'gear');
			}
		}

		* {
			display: inline-block;
			padding: 5px;
			min-width: 1em;
			line-height: 1em;
			height: 1em;
		}
		strong {
			background-color: rgba(black,.2);
			box-shadow: inset 0 2px 5px rgba(black,.5);
			color: #444;
			cursor: default;
		}
		a {
			color: #000 !important;
			transition: none !important;
			cursor: pointer;

			&:active {
				box-shadow: inset 0 2px 5px rgba(0,0,0,.2);
				background-color: rgba(0,0,0,.1);
			}
		}
		&.spec a {
			color: $Link !important;
			background-color: rgba($Link, .15);
		}
	}
}
#goto-page input {
	font-size: 28px;
	max-width: 70px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
// <kbd> style
kbd {
		border: 1px solid;
		padding: 0 3px;
		border-radius: 4px;
		border-bottom-width: 2px;
		margin: 0 2px;
}
// Vector app styles
@mixin vapp($Base, $imgname){
	$RGradTop: lighten($Base, 40);
	$RBorder: desaturate(lighten($Base, 20), 40);
	&.avatar-wrap {
		border-color: $RBorder;
		background-color: lighten($RGradTop, 5);
	}
	&.reserver .da-userlink {
		border-color: mix(#93a98f, $RBorder, 70%);
		background: mix(#d2dfc5, $RGradTop, 70%);
		transition: border-color .2s ease-in-out, background-color .2s ease-in-out, color .2s linear !important;

		> .avatar {
			transition: opacity .2s ease-in-out;
		}

		$avatarsize: 40px;
		$border: 1px;

		&:after {
			content: "";
			display: block;
			background: url('/img/vapps/#{$imgname}.svg') no-repeat center center;
			background-size: contain;
			position: absolute;
			$size: 18px;
			$spacearound: $avatarsize - $size - $border;
			width: $size;
			height: $size;
			top: $spacearound;
			left: $spacearound;
			opacity: .8;

			transition-property: opacity, top, left, width, height;
			transition-duration: .2s;
			transition-timing-function: ease-in-out;
		}
		&:hover {
			background-color: $RGradTop;
			border-color: $RBorder;

			&:after {
				opacity: 1;

				$size: 32px;
				$spacearound: $avatarsize - $size - ($border*2);
				width: $size;
				height: $size;
				top: $spacearound/2;
				left: $spacearound/2;
			}
			> .avatar { opacity: .3 }
		}
		&.local.provider-discord:hover:after {
			$size: 24px;
			$spacearound: $avatarsize - $size - ($border*2);
			width: $size;
			height: $size;
			top: $spacearound/2;
			left: $spacearound/2;
		}
	}
}
.app-illustrator {
	@include vapp(#f80, 'illustrator');
}
.app-inkscape {
	@include vapp(#0af, 'inkscape');
}
.app-ponyscape {
	@include vapp(#f00, 'ponyscape');
}

#sidebar .live-circle {
	display: inline-block;
  width: .5em;
  height: .5em;
  border-radius: 50%;
  animation: blink-live 1.6s ease-out infinite;
}
@keyframes blink-live {
	from {
		background: #800;
	}
	50% {
		background: #d00;
		box-shadow: 0 0 15px #f00;
	}
	to {
		background: #800;
		box-shadow: 0 0 30px #800;
	}
}

#dialogContent {
	> .green .sideways-smiley-face {
		background: $NGreenBG;
	}
	> .darkblue .sideways-smiley-face {
		background: $NDarkBlueBG;
	}
	.sideways-smiley-face {
		display: inline-block;
		transform: rotate(90deg);
		font-size: 52px;
		letter-spacing: .1em;
		height: 1.5em;
		width: 1.5em;
		border: .06em solid;
		border-radius: 100%;
		line-height: 1.1em;
		text-align: center;
		margin: 10px 0 5px;
		padding: 0 0 .1em .1em;
		box-sizing: border-box;
	}
}
