// Include all styles
@import "app";

// Define overrides
body.theme-dark {
	$NBlue: lighten($NBlue, 10);
	$NDarkBlue: lighten($NDarkBlue, 20);
	//$NTeal: darken($NTeal, 5);
	$NGreen: lighten(desaturate($NGreen, 30),5);
	$NRed: lighten($NRed, 15);
	$NOrange: lighten($NOrange, 15);
	$NYellow: lighten($NYellow, 15);
	$DefaultUIColor: lighten($DefaultUIColor, 15);
	$Link: lighten($Link, 12);
	$LinkHover: lighten($LinkHover, 15);
	$LinkHoverLight: lighten($LinkHover, 30);
	background: #1a1a1a;

	#content {
		border: 1px solid rgba(#888, .8);
		background-color: rgba(#444, .6);
		padding: 10px;
		color: #ddd;

		select, input[type="text"], input[type="number"] {
			background-color: #333;
		}

		// Colors
		.color-blue { color: $NBlue !important }
		.color-darkblue { color: $NDarkBlue !important }
		.color-teal { color: $NTeal !important }
		.color-green { color: $NGreen !important }
		.color-red { color: $NRed !important }
		.color-orange { color: $NOrange !important }
		.color-yellow { color: $NYellow !important }
		.color-ui { color: $DefaultUIColor !important }
		.color-lightblue { color: lighten($NBlueBG, 10) !important }
		.color-lightdarkblue { color: lighten($NDarkBlueBG, 10) !important }
		.color-lightteal { color: lighten($NTealBG, 10) !important }
		.color-lightgreen { color: lighten($NGreenBG, 10) !important }
		.color-lightred { color: lighten($NRedBG, 10) !important }
		.color-lightorange { color: lighten($NOrangeBG, 10) !important }
		.color-lightyellow { color: lighten($NYellowBG, 10) !important }

		button, .btn, input[type=button] {
			&.blue {
				color: $NBlueBG !important;
				background-color: $NBlue !important;
			}
			&.darkblue {
				color: $NDarkBlueBG !important;
				background-color: $NDarkBlue !important;
			}
			&.lavander {
				color: $NLavanderBG !important;
				background-color: $NLavander !important;
			}
			&.teal {
				color: $NTealBG !important;
				background-color: $NTeal !important;
			}
			&.green {
				color: $NGreenBG !important;
				background-color: $NGreen !important;
			}
			&.red {
				color: $NRedBG !important;
				background-color: $NRed !important;
			}
			&.orange {
				color: $NOrangeBG !important;
				background-color: $NOrange !important;
			}
			&.yellow {
				color: $NYellowBG !important;
				background-color: $NYellow !important;
			}
			&.link {
				color: $LinkHoverLight !important;
				background-color: $Link !important;
			}
		}
		a:not(.btn) { @include link(lighten($Link, 20), lighten($LinkHover, 20)) }
	}
}
