@use "sass:color";

button, .btn, input[type=button], .inline-btn {
  position: relative;
  display: inline-block;
  $hmargin: 2px;
  margin-left: $hmargin;
  margin-right: $hmargin;
  $border: 2px;
  border: $border solid transparent;
  border-radius: $ButtonBorderRadius;
  padding-left: $ButtonPadding;
  padding-right: $ButtonPadding;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  transform-origin: 50% 50%;
  -webkit-appearance: none;
  will-change: transform;

  &::-moz-focus-inner {
    padding: 0 !important;
    border: 0 none !important;
  }

  &:hover, &:focus {
    opacity: 1
  }

  &:focus {
    border-color: rgba(black, .3)
  }

  &:active {
    transform: scale(.98)
  }

  &:not([disabled]) {
    opacity: .85
  }
}

button, .btn, input[type=button] {
  $vmargin: 5px;
  margin-top: $vmargin;
  margin-bottom: $vmargin;
  color: #fff;
  background-color: #777;
  padding-top: $ButtonPadding;
  padding-bottom: $ButtonPadding;
  font-family: $RegularFont;
  $fontsize: 16px;
  font-size: $fontsize;
  line-height: $fontsize;
  vertical-align: bottom;

  &.large {
    $fontsize: 18px;
    font-size: $fontsize;
    line-height: $fontsize;
    padding: $ButtonPadding * 1.8;
  }

  &.blue {
    color: $NBlueBG !important;
    background-color: $NBlue !important;
  }

  &.darkblue {
    color: $NDarkBlueBG !important;
    background-color: $NDarkBlue !important;
  }

  &.lavender {
    color: $NLavenderBG !important;
    background-color: $NLavender !important;
  }

  &.teal {
    color: $NTealBG !important;
    background-color: $NTeal !important;
  }

  &.green {
    color: $NGreenBG !important;
    background-color: $NGreen !important;
  }

  &.red {
    color: $NRedBG !important;
    background-color: $NRed !important;
  }

  &.orange {
    color: $NOrangeBG !important;
    background-color: $NOrange !important;
  }

  &.yellow {
    color: $NYellowBG !important;
    background-color: $NYellow !important;
  }

  &.link {
    color: color.adjust($LinkHoverLight, $lightness: 5%) !important;
    background-color: $Link !important;
  }

  &.ui {
    color: color.adjust($DefaultUIColor, $lightness: 60%) !important;
    background-color: $DefaultUIColor !important;
  }
}

.inline-btn {
  background: rgba(black, .1);
}
