.codeflask__textarea {
	-webkit-appearance: none;
}
.codeflask__textarea, .codeflask__pre {
	line-height: 1.2rem;
	font-size: 1rem;
	padding: 5px !important;
}
.codeflask__code {
	color: #000;

	// Global
	.token {
		&.comment { color: #080 }
		&.entity {
			background-color: rgba(255, 255, 0, .1);
			font-style: italic;
		}
		&.tag { color: #00f }
		&.attr-name { color: #f00 }
		&.attr-value { color: #80f }
	}

	// Markdown
	&.language-markdown {
		.token {
			&.title {
				color: #a5a;
			}
			&.bold {
				font-weight: bold;
			}
			&.italic {
				font-style: italic;
			}
			&.url {
				text-decoration: underline;
				color: #00f;
			}
			&.list.punctuation {
				color: #d70;
			}
		}
	}
}
