@import url('https://fonts.googleapis.com/css?family=Arimo:400,700,400italic&display=swap');

@font-face {
  font-family: "Celestia";
  font-display: swap;
  src: url('/font/Celestia Redux Alternate.ttf');
  src: local('Celestia Redux Alternate'), url('/font/Celestia Redux Alternate.ttf') format('truetype');
}
