@use "sass:color";

:disabled, [disabled], .disabled {
  cursor: not-allowed;
  opacity: .5;
  pointer-events: none;
}

input:not([type=radio]):not([type=checkbox]):not([type=button]):not([type=file]):not([type=submit]):not([type=range]),
select, textarea {
  border: 1px solid;
  background-color: $Background;
  color: inherit;
  padding: 4px;
  outline: 0;
  min-height: 18px;
  position: relative;
  line-height: 16px;
  font-size: 14px;
  transition: color .2s, border-color .2s;

  &:not(select) {
    &[required], &[pattern] {
      &:valid:hover {
        border-color: $ValidDark
      }

      &:invalid:hover {
        border-color: $InvalidDark;
        color: $InvalidLight;
      }
    }
  }
}

form:hover textarea {
  &[required], &[pattern] {
    &:focus:valid {
      border-color: $ValidDark;
    }
  }
}

select {
  padding-right: 5px;

  option[data-default], option[default] {
    display: none
  }
}

textarea {
  padding-right: 5px;
  min-height: 100px;
}

input[type=checkbox] {
  -webkit-appearance: none;
  display: inline-block;
  border: 1px solid;
  background-color: $Background;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  position: relative;
  margin: 0 3px 0 0;
  vertical-align: bottom;
  top: -2px;

  &:focus {
    background-color: $BackgroundLight
  }

  &:checked:before {
    opacity: 1
  }

  &:before {
    position: absolute;
    top: 2px;
    left: 2px;
    content: "\2713";
    font-size: 14px;
    line-height: 10px;
    opacity: 0;
    color: #000;
  }
}

input[readonly] {
  opacity: .75;
  border-style: dashed !important;
}

#dialogContent {
  > div:not(#dialogButtons) {
    > form[id] {
      > * {
        display: block;
        margin: 0 auto 10px;
        font-family: inherit;
        width: 100%;
        box-sizing: border-box;

        &:last-child {
          margin-bottom: 0
        }
      }

      label, .label {
        text-align: center;

        > * {
          vertical-align: text-bottom
        }
      }

      .label > label + * {
        margin-top: 5px;
      }

      fieldset > legend {
        padding: 0 10px;
      }

      .radio-group {
        user-select: none;

        label {
          display: inline-block;
          flex: 1 1 auto;
          margin: 2px;
          position: relative;
          overflow: hidden;

          * {
            cursor: pointer
          }
        }

        input {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 1px;
          height: 1px;
          opacity: 0;
          display: inline-block;

          ~ span {
            display: inline-block;
            box-sizing: border-box;
            font-weight: bold;
            cursor: pointer;
            padding: 4px 6px;

            border: 1px solid;
            color: $DefaultUIColor;
            background-color: color.adjust($DefaultUIColor, $lightness: 70%);

            transition-property: background-color, opacity;
            transition-duration: .1s;
          }

          &:not(:checked) ~ span {
            opacity: .6
          }

          &:checked ~ span {
            background-color: color.adjust($DefaultUIColor, $lightness: 60%)
          }

          &:checked:not(:disabled) ~ span {
            opacity: 1
          }

          &:checked:disabled ~ span {
            opacity: .8
          }

          &:focus ~ span {
            border-style: dashed
          }

          &:not(:checked):focus ~ span {
            opacity: .9
          }

          &:disabled ~ span {
            cursor: not-allowed
          }
        }
      }

      .btn-group {
        @include btn-group
      }

      .input-group-2 {
        @include input-group(2)
      }

      .input-group-3 {
        @include input-group(3)
      }

      .split-select-wrap {
        display: flex;
        flex-flow: row wrap;
        overflow: hidden;
        align-items: center;

        $ButtonsWidth: 40px;

        .filter-input {
          flex: 0 0 100%;
          display: flex;
          flex-flow: row nowrap;
          justify-content: stretch;
          margin-bottom: 10px;

          > * {
            font-size: 1.2rem;
            line-height: 1em;
            display: block;
          }

          input {
            flex: 1 1 100%;
            box-sizing: border-box;
            border-top-left-radius: $ButtonBorderRadius;
            border-bottom-left-radius: $ButtonBorderRadius;
          }

          button {
            flex: 0 0 auto;
            margin: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }

        .buttons {
          flex: 0 0 auto;
          width: $ButtonsWidth;
          padding: 5px;
          box-sizing: border-box;

          button {
            display: block;
            margin: 0 auto;

            &:not(:last-child) {
              margin-bottom: 5px
            }
          }
        }

        .split-select {
          flex: 1 0 calc((100% - #{$ButtonsWidth}) / 2);

          select {
            display: block;
            height: 250px;
            width: 99%;
            box-sizing: border-box;
            margin: 0 auto;
          }

          > span {
            display: block;
            text-align: center;
            margin-bottom: 5px;
          }
        }
      }
    }

    input:not([type=radio]):not([type=checkbox]):not([type=button]):not([type=file]),
    select,
    textarea {
      color: inherit;
      border: 1px solid $Border;
      background-color: $Background;

      &:not(select) {
        &:focus {
          background-color: $BackgroundLight
        }

        &[required], &[pattern] {
          &:valid {
            border-color: $ValidDark
          }

          &:invalid {
            border-color: $InvalidLight;
            color: $InvalidDark;
          }
        }
      }
    }

    select {
      &:valid {
        border-color: $ValidDark
      }

      &:invalid {
        border-color: $InvalidLight;
        color: $InvalidDark;
      }

      option, optgroup {
        color: black;
      }

      option:disabled {
        color: #777;
      }
    }
  }
}
