{# @controller App\Controllers\AdminController::pcgAppearances #}
{# @var pagination App\Pagination #}
{# @var appearances App\Models\Appearance[] #}
{% extends 'layout/base.html.twig' %}

{% block content %}
  <div id="content" class="section-container">
    <h1>{{ heading }}</h1>
    <p>Displaying {{ pagination.itemsPerPage }} items/page</p>
    <div class='align-center button-block'>
      <a class='btn link typcn typcn-arrow-back' href="/admin">Back to Admin Area</a>
    </div>

    {{ pagination }}
    <div class="responsive-table">
      {% include 'admin/_pcg_appearance_list.html.twig' %}
    </div>
    {{ pagination }}
  </div>
{% endblock %}
