{# @controller App\COntrollers\AdminController::usefulLinks #}
{# @var useful_links \App\Models\UsefulLink[] #}
{% extends 'layout/base.html.twig' %}

{% block content %}
  <div id="content">
    <h1>{{ heading }}</h1>
    <p>Add, reorder and remove useful links</p>
    <div class='align-center button-block'>
      <button class="green typcn typcn-plus" id="add-link">Add link</button>
      <button class='blue typcn typcn-arrow-unsorted' id="reorder-links">Re-order links</button>
      <a class='btn link typcn typcn-arrow-back' href="/admin">Back to Admin Area</a>
    </div>

    <section class="useful-links">
      <div>{% include 'admin/_useful_links_list.html.twig' %}</div>
    </section>
  </div>
  {{ export_vars({
    'ROLES_ASSOC': constant('App\\Permission::ROLES_ASSOC'),
    'PRINTABLE_ASCII_PATTERN': constant('PRINTABLE_ASCII_PATTERN'),
  }) }}
{% endblock %}
