{# @controller \App\Controllers\AdminController::wsdiag #}
{% extends 'layout/base.html.twig' %}

{% block content %}
  <div id="content" class="section-container">
    <h1>WebSocket Server Diagnostics</h1>
    <div class='align-center button-block'>
      <a class='btn link typcn typcn-arrow-back' href="/admin">Back to Admin Area</a>
    </div>

    <section>
      <h2>Status <span id="wss-heartbeat">&hearts;</span> <span id="wss-response-time">&hellip;</span></h2>
      <div class="notice info" id="wss-status">Checking status&hellip;</div>
      <ul id="connection-list"></ul>
    </section>
  </div>
{% endblock %}
