{# @controller \App\CoreUtils::badRequest #}
{% extends 'layout/base.html.twig' %}

{% block content %}
  <div id="content">
    <h1>400 Bad Request</h1>
    <p>Make sure you didn't try to haxx the site through the URL</p>
  </div>
{% endblock %}
