{# @controller \App\CoreUtils::notAllowed #}
{% extends 'layout/base.html.twig' %}

{% block content %}
  <div id="content">
    <h1>405 Method Not Allowed</h1>
    <p>The specified request method cannot be used with this endpoint</p>
  </div>
{% endblock %}
