@mixin browser-backgrounds($pseudo:false) {
  $before: '';
  @if ($pseudo) {
    $before: ':before';
  }
  //noinspection CssOptimizeSimilarProperties
  &#{$before} {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &.browser-chrome#{$before} {
    background-image: url(/img/browser/chrome.png);
  }
  &.browser-edge#{$before} {
    background-image: url(/img/browser/edge.png);
  }
  &.browser-firefox#{$before}, &.browser-firefoxmobile#{$before} {
    background-image: url(/img/browser/firefox.png);
  }
  &.browser-internetexplorer#{$before}, &.browser-iemobile#{$before} {
    background-image: url(/img/browser/ie.png);
  }
  &.browser-opera#{$before}, &.browser-operamini#{$before} {
    background-image: url(/img/browser/opera.png);
  }
  &.browser-safari#{$before} {
    background-image: url(/img/browser/safari.png);
  }
  &.browser-vivaldi#{$before} {
    background-image: url(/img/browser/vivaldi.png);
  }
  &.browser-maxthon#{$before} {
    background-image: url(/img/browser/maxthon.png);
  }
  &.browser-firefoxfocus#{$before} {
    background-image: url(/img/browser/firefoxfocus.png);
  }
  &.browser-yandexbrowser#{$before} {
    background-image: url(/img/browser/yandexbrowser.png);
  }
  &.browser-silk#{$before} {
    background-image: url(/img/browser/silk.png);
  }
  &.browser-samsunginternet#{$before} {
    background-image: url(/img/browser/samsunginternet.png);
  }
}

@mixin if-browser-has-icon {
  &.browser-chrome,
  &.browser-edge,
  &.browser-firefox, &.browser-firefoxmobile,
  &.browser-internetexplorer, &.browser-iemobile,
  &.browser-opera, &.browser-operamini,
  &.browser-safari,
  &.browser-vivaldi,
  &.browser-maxthon,
  &.browser-firefoxfocus,
  &.browser-yandexbrowser,
  &.browser-silk,
  &.browser-samsunginternet {
    @content;
  }
}
