@import "../../colorguide_vars";
@import "../../vars";

// Mobile-only
@media all and (max-width: $Breakpoint) {
  #pony-cm-list {
    display: flex;
    flex-flow: row wrap;

    .pony-cm {
      display: block;

      @include pony-cm;

      .preview {
        margin-left: auto;
        margin-right: auto;
        @include pony-cm-image(200px);
      }
    }
  }
}

// Desktop-only
@media all and (min-width: $Breakpoint) {
  .pony-cm .preview {
    @include pony-cm-image
  }

  #pony-cm-list {
    .pony-cm {
      display: inline-block;

      @include pony-cm;
    }
  }
}

#content {
  > .sprite-wrap {
    text-align: center;
    line-height: 0;

    .sprite {
      display: inline-block;
      max-width: 100%;

      > .upload-wrap {
        &.nosprite img {
          width: 300px;
          height: 300px;
        }

        &.loading {
          width: 300px;
          height: 300px;
          background: url('/img/loading-ring.svg') no-repeat center;
          background-size: 125px;
        }

        a, a > img {
          display: block;
        }

        a > img {
          margin: 0 auto;
          max-width: 100%;
          max-height: 300px;
        }
      }

      img {
        max-width: 100%;
        max-height: 300px;
      }
    }
  }

  > h1 {
    font-size: 2.2em;
    line-height: 1.2em;
    margin-bottom: 10px;
  }

  #tags .tags {
    &:empty:before {
      content: "This appearance has no tags"
    }

    > :not(:last-child) {
      margin-right: 7px;
    }
  }

  #related-shows p:empty {
    &:before {
      content: "This appearance has no relations to any show entries.";
      font-style: italic;
      opacity: .6;
    }
  }

  #notes {
    font-size: 1.1em;
    background: papayawhip;
    color: saddlebrown;
    padding: 10px;
    border: 1px solid burlywood;
    display: inline-block;

    .notes-text {
      white-space: pre-wrap;
    }

    > span:not(:first-child) {
      display: none;
    }
  }

  .approved-cutie-mark {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .aside {
      font-size: small;
      margin-bottom: 4px;
    }
  }

  .color-list {
    > div.admin {
      margin-bottom: 10px;

      button {
        margin: 0
      }
    }

    .colors {
      @extend %colors-ul
    }
  }

  .related ul {
    @extend %appearance-ul;

    &:empty {
      display: block;

      &:before {
        content: "This appearance has no relatons to any other appearances.";
        font-style: italic;
        opacity: .6;
      }
    }
  }
}

#pony-cm-list {
  display: block;
  margin: 10px 0 0;
  padding: 0;
  font-size: 0;
}
