//noinspection CssUnknownTarget
@import "../../colorguide_vars";
@import "../../components/optional/ctxmenu";
// Mobile-only
@media all and (max-width: $Breakpoint){
	.appearance-list > li {
		display: block !important;
		text-align: center;

		> div {
			&.sprite {
				display: inline-block !important;
				margin: 0;
			}
			&:last-child {
				max-width: 100% !important;
				padding: 0 !important;
				display: block !important;
				text-align: left;
			}

			> strong {
				text-align: center;

				a:first-child {
					display: block;

					~ * { font-size: .6em }
				}

				button, .btn {
					&:nth-child(2) { margin-left: 0 }
				}
			}

			div.tags {
				display: flex;
				width: 100%;
				flex-flow: row wrap;

				&:empty { display: none }

				> * {
					flex: 1 1 auto;

					margin: 2.5px !important;
				}
			}

			ul.colors {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				border-style: solid;
				border-color: rgba(black,.3);
				border-width: 1px 0 0 1px;
				margin-top: 5px;

				li {
					display: block;
					text-align: center;
					flex: 1 0 auto;
					max-width: 100%;
					box-sizing: border-box;
					margin: 0;
					border-width: 0 1px 1px 0;
				}
			}
		}
	}
}
// Desktop-only
@media all and (min-width: $Breakpoint){
	.appearance-list > li > div {
		&:last-child:not(:first-child) { max-width: calc(100% - 160px) }

		.update time { border-bottom: 1px dashed }
	}

	#search-form {
		font-size: 1.7em;
	}
}

#content > p { margin: 0 0 5px }

.appearance-list {
	padding: 0;
	margin: 0;

	.pagination + &:empty:before {
		font-size: 1.4em;
		font-style: italic;
		content: "There are no appearances on this page";
		display: block;
		text-align: center;
	}

	> li {
		padding: 10px;
		color: #434343;
		background-color: rgba(black,.03);
		border: 1px solid rgba(black,.3);
		display: flex;
		flex-flow: row nowrap;

		&:not(:last-child) { margin-bottom: 10px }

		> * {
			flex: 0 0 auto;
			max-width: 100%;
		}
		> div {
			&:not(:last-child) { margin-right: 10px }

			&:first-child img { width: 150px }
			> strong {
				display: block;
				font-size: 1.5em;

				> * {
					display: inline-block;
					vertical-align: middle;
				}

				button, .btn { margin: 0 0 0 8px }
			}
			> .update {
				margin-top: 5px;
				font-size: .8em;

				&:empty { display: none }
			}
			> .notes {
				margin-top: 6px;

				&:empty { display: none }

				span:not(:last-child) {
					padding-right: 5px;
					margin-right: 5px;
					border-right: 1px solid;
				}
			}
		}
	}
}

@import "../../components/optional/jquery.uploadzone";

#content .upload-wrap:not(.uploading):not(.nosprite) > .helper {
	&:before { content: '\e00b' }
	&:after { content: "Open in new tab" }
}

div.tags {
	user-select: none;
	margin-top: 6px;
}
.tag, div.tags .twitter-typeahead {
	margin: 0 6px 6px 0;
	vertical-align: top;
}
.tag {
	display: inline-block;
	font-weight: bold;
	box-sizing: border-box;
	padding: 3px 5px;
	border: 1px solid;
	cursor: default;
	height: 26px;

	&:before {
		//noinspection CssNoGenericFontName
		font-family: 'Typicons';
		margin-right: 5px;
	}
	&:not(:last-child) { margin-right: 5px }

	&:not([class*=typ-]) { @include tag-style($TDefault) }
	&.typ-cat { @include tag-style($TCategory, '\e083')	}
	&.typ-spec { @include tag-style($TSpecies, '\e148') }
	&.typ-gen { @include tag-style($TGender, '\e10f') }
	&.typ-app { @include tag-style($TClothing, '\e07e') }
	&.typ-ep { @include tag-style($TEpisode, '\e131') }
	&.typ-char { @include tag-style($TCharacter, '\e12c') }
	&.typ-warn { @include tag-style($TWarning, '\e137') }
	&.synonym {
		font-weight: normal !important;
		opacity: .8;
		letter-spacing: -.8px;
		font-size: .9em;

		> .uses .typcn { margin-right: 4px }
	}
}

#universal {
	margin-bottom: 10px;
}

div.colors-pending, ul.colors:empty:before {
	display: block;
	width: 100%;
	text-align: center;
	padding: .2em;
	box-sizing: border-box;
	border: 1px dashed rgba(black,.5);
}
div.colors-pending {
	font-size: 1.2em;
	color: $NDarkBlue;
}

ul.colors {
	display: block;
	padding: 0;
	list-style: none;
	white-space: initial !important;
	margin: 0;

	&:empty:before {
		content: "There are no color groups for this appearance";
		font-size: 1.4em;
		font-style: italic;
		margin-top: 5px;
	}
	&:not(.full) {
		user-select: none;

		&:empty:before {
			font-size: 18px;
		}
	}

	&.compact {
		.color-group {
			display: inline-flex;
			justify-content: center;
			align-items: center;

			> :not(:last-child) {
				margin-right: 4px;
			}
		}
	}

	.color-group {
		display: inline-block;
		border: 1px solid rgba(black, .2);
		background-color: rgba(black, .05);
		padding: 4px;
		margin: 5px 5px 0 0;
		font-size: 16px;

		> * { vertical-align: middle }
		.color {
			@include colored-square(16px, 1px)
		}
	}
}

// Sidebar - hash copy checkbox
#hash-copy {
	user-select: none;

	label {
		display: block;
		margin-top: 10px;
		cursor: pointer;

		input {
			border-color: rgba(white, .3);
			background-color: rgba(white, .1);
			margin-right: 7px;

			&:before {
				color: $NGreenBG;
			}
		}
	}
}

#search-form {
	display: flex;
	flex-flow: row;
	max-width: 700px;
	width: 100%;
	text-align: center;
	margin: 0 auto 10px;

	> * {
		border-radius: 0;
	}

	:first-child {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	:last-child {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	$SearchBorder: #222;
	input {
		font-size: 1em;
		line-height: .9em;
		height: 1em;
		margin: 0;
		padding: .3em;
		border-color: $SearchBorder;

		flex: 1 1 70%;
    width: 70%;
	}
	button {
		vertical-align: baseline;
		margin: 0;
		flex: 0 0 auto;
		font-size: .8em;
		border: 1px solid $SearchBorder;
		border-left: 0;
		transform: none !important;

		&:before { line-height: 1em }

		&:not(:hover) {
			color: $SearchBorder !important;
			background-color: #ccc !important;
		}
	}
}

#swatch-save {
	.section .btn {
		vertical-align: baseline;
		padding: 2px 3px;
	}
	.responsive-embed {
		border: 1px solid;
		margin-top: 15px;
	}
}

#template-gen-form {
	canvas {
		display: block;
		width: 300px;
		height: 300px;
		margin: 0 auto;
		border: 1px solid black;
		background: url('/img/transparency.svg') repeat center;
		background-size: 16px;
		pointer-events: none;
	}
}
