@import "../../vars";

#content {
  .twoside-manager {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;

    > * {
      display: block;
      flex: 1 1 45%;
    }

    .left-side, .right-side {
      border: 1px solid rgba(black, .1);
      background: rgba(black, .05);
    }

    .left-side {
      margin-right: 5px;
    }

    .right-side {
      margin-left: 5px;
      padding: 10px;

      .right-header {
        margin: 0 0 10px;
        font-family: $cursive;
      }
    }
  }

  #member-search {
    input {
      display: block;
      width: 100%;
      font-size: 1.3em;
      box-sizing: border-box;
    }
  }

  .discord-members, #manage-area {
    &.loading {
      &:before {
        content: "" !important;
        margin: 20px auto;
        padding: 0 !important;
        display: block;
        @include loading-indicator(80px);
      }

      > * {
        display: none !important
      }
    }
  }

  .discord-members {
    max-height: 66vh;
    overflow-y: auto;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 5px;

    &.empty:before, &:empty:before {
      content: "No members to show.";
      display: block;
      width: 100%;
      padding: 10px;
      text-align: center;
      font-size: 1.3em;
      font-style: italic;
    }

    li {
      flex: 1 1 auto;
      display: flex;
      flex-flow: row nowrap;
      margin: 2.5px;
      padding: 5px;
      cursor: pointer;
      transition-property: border-color, background-color;
      transition-duration: .3s;

      &:not(.bound) {
        border: 1px solid rgba(black, .15);
        background: rgba(black, .1);

        &:hover {
          border-color: rgba(black, .25);
          background: rgba(black, .15);
        }

        &.selected {
          color: $NBlue;
          border-color: $NBlue;
          background: $NBlueBG;
        }
      }

      &.bound {
        border: 1px solid rgba($NGreen, .15);
        background: rgba($NGreen, .1);

        &:hover {
          border-color: rgba($NGreen, .25);
          background: rgba($NGreen, .15);
        }

        &.selected {
          color: $NGreen;
          border-color: $NGreen;
          background: $NGreenBG;
        }
      }

      //noinspection CssOptimizeSimilarProperties
      .user-avatar {
        display: block;
        flex: 0 0 auto;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 10px;
        border: inherit;
        border-width: 2px;
      }

      .user-data {
        flex: 1 1 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;

        > :first-child {
          font-size: 1.3em;
          display: block;
          overflow: hidden;
        }

        > :last-child:not(:first-child) {
          opacity: .75;
          font-size: .9em;
        }
      }
    }
  }

  #manage-area {
    > * {
      &, > * {
        margin: 0 0 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .boundto {
      font-size: 1.5em;

      &:empty:before {
        display: block;
        content: "No binding defined.";
        font-style: italic;
        opacity: .6;
      }
    }
  }
}
