@import "../../vars";
@import "../../components/optional/post-list";

#content {
  > section {
    &.elastic-status pre {
      overflow: auto;
    }

    &.recent-posts {
      > div:empty:before {
        content: "No recent posts to display.";
        display: block;
        font-style: italic;
        padding: 10px;
      }

      ul {
        @extend %post-ul;
        margin-bottom: 0;

        &:empty:before {
          content: "No recent posts to show";
          font-style: italic;
        }

        li .reserver .da-userlink .name {
          font-size: 16px;
          vertical-align: middle;
        }
      }
    }
  }
}
