#notice-list {
  &:empty:before {
    content: "No notices to display.";
    display: block;
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
    margin: 10px 0;
  }

  .notice-item {
    .time {
      margin-right: 5px;
    }

    .actions button {
      display: inline;
      vertical-align: baseline;
      padding: 2px;
    }
  }
}
