@import "../../vars";

#wss-heartbeat {
  color: red;
  display: inline-block;
  margin-left: 8px;
  will-change: transform, color;
  transition: opacity .5s linear;

  &.beat {
    animation: beat .3s linear;

    @keyframes beat {
      from, to {
        transform: scale(1);
      }
      33% {
        transform: scale(.5);
      }
      66% {
        transform: scale(1.5);
      }
    }
  }

  &.dead {
    color: black;

    + #wss-response-time {
      display: none;
    }
  }
}

#wss-response-time {
  font-family: $monospace;
}

#connection-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-flow: row wrap;

  .current-icon {
    color: $NRed;
  }

  > li {
    flex: 1 1 auto;
    display: block;
    flex-flow: column nowrap;
    padding: 10px;
    margin: 5px;
    border: 1px solid rgba(black, .2);
    background: rgba(black, .05);

    h3 {
      margin: 0 0 10px 0;
    }

    code {
      font-family: $monospace;
    }

    ul {
      list-style: none;
      padding-left: .75em;
      margin: 0;

      li:before {
        content: "-";
        margin-right: .75em;
        display: inline;
      }
    }
  }
}
