@import "vars";

#list {
	padding: 0;
	margin: 0;

	> li {
		padding: 10px;
		color: #434343;
		background-color: rgba(black,.05);
		border: 1px solid rgba(black,.2);
		box-shadow: 0 0 2px rgba(black,.2);
		transition: background-color .3s, border-color .3s, box-shadow .3s;
    display: flex;
    flex-flow: row nowrap;

		&:hover {
			background-color: rgba(black,.1);
			border: 1px solid rgba(black,.3);
			box-shadow: 0 0 7px rgba(black,.3);
		}
		&:not(:last-child) { margin-bottom: 10px }

		> * {
			flex: 0 0 auto;
		}
		> div {
			> img {
				margin-right: 10px;
				width: 150px;
			}
			> strong {
				font-size: 1.5em;
			}
			> ul {
				display: block;
				padding: 0;
				margin: 5px 0;
			}
		}
	}
}

$_TBase: #0c70b1;
$TDefault: gray;
$TCategory: $_TBase;
$TSpecies: adjust_hue($_TBase, -70);
$TGender: adjust_hue($_TBase, 60);
$TAppearance: adjust_hue($_TBase, 120);
$TEpisode: adjust_hue($_TBase, 90);

@mixin tag-style($color:$TDefault, $icon:false){
	color: $color;
	background-color: lighten($color, 50);
	@if ($icon != false){
			&:before { content: $icon }
	}
}

div.tags {
	user-select: none;
	margin-top: 5px;

	> span {
		display: inline-block;
		font-weight: bold;
		padding: 3px 5px;
		border: 1px solid;
		cursor: default;

		@include tag-style($TDefault);

		&[title] { cursor: help }
		&:before {
			//noinspection CssNoGenericFontName
			font-family: 'Typicons';
			margin-right: 5px;
		}
		&.cat { @include tag-style($TCategory, '\e083')	}
		&.spec { @include tag-style($TSpecies, '\e148') }
		&.gen { @include tag-style($TGender, '\e12c') }
		&.app { @include tag-style($TAppearance, '\e07e') }
		&.ep { @include tag-style($TEpisode, '\e131') }
		&:not(:last-child) { margin-right: 5px }
	}
}

ul.colors {
	list-style-position: inside;

	> li {
		&:not(:last-child) { margin-bottom: 5px }

		> span {
			display: inline-block;
			$size: 16px;
			$border: 1px;
			border: $border solid #000;
			width: #{$size - $border*2};
			height: #{$size - $border*2};
			vertical-align: middle;
			cursor: help;
			font-size: 0;
		}
	}
}

%qtip-custom {
	font-size: 16px;
	line-height: initial !important;
	min-width: initial !important;

	.qtip-content {
		padding: 5px;
		text-align: center;
	}
}

.qtip-see-thru {
	background-color: rgba(white,.9);
	border: 1px solid rgba(black,.7);
	box-shadow: 0 0 2px rgba(black,.7);

	@extend %qtip-custom;
}

.qtip-tag {
	@include tag-style($TDefault);

	border-color: initial !important;

	@extend %qtip-custom;
}

.qtip-tag-cat { @include tag-style($TCategory) }
.qtip-tag-spec { @include tag-style($TSpecies) }
.qtip-tag-gen { @include tag-style($TGender) }
.qtip-tag-app { @include tag-style($TAppearance) }
.qtip-tag-ep { @include tag-style($TEpisode) }