@import "vars";

#content {
	text-align: center;

	section {
		&:not(:last-child) { margin-bottom: 15px }

		> label {
			font-size: 1.2em;
			text-decoration: underline;
			margin-bottom: 10px;
			display: block;
		}
		p {
			margin: 0;

			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}

	#quote-manager {
		height: 50vh;
		background-color: rgba(0,0,0,.1);
		box-shadow: inset 0 0 10px rgba(0,0,0,.5);
		position: relative;
		z-index: 2;

		&:not(.loaded){
			> * { opacity: .5 }
			&:before, &:after {
				content: "";
				display: block;
				position: absolute;
				z-index: 5;
			}
			&:before {
				top: calc(50% - 32px - 25px);
				left: calc(50% - 32px);
				width: 64px;
				height: 64px;
				background: url('../img/preloader.png') no-repeat;
				animation: load .4s steps(8) infinite;

				@keyframes load {
					0% { background-position: 0 0 }
					100% { background-position: -512px 0 }
				}
			}
			&:after {
				top: calc(50% + 25px);
				height: 25px;
				width: 100%;
				font-size: 22px;
				content: "Loading editor...";
				color: $HeaderBlue;
				font-family: 'Celestia', sans-serif;
			}
		}
		@media all and (min-width: 650px){
			margin: 0 10%;
		}

		> * {
			transition: opacity 1s;
			padding: 10px;
			margin: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			position: absolute;
			top: 0;
			width: 50%;
			list-style: none;
			text-align: left;
			box-sizing: border-box;
		}
		.ponyul {
			left: 0;

			li {
				color: $NBlue;
				border: 2px solid;
				background-color: $NBlueBG;
				border-radius: 7px;
				font-size: 18px;
				padding: 5px;
				cursor: default;

				transition: background-color .2s;

				&:hover { background-color: darken($NBlueBG, 10) }
				&.addnew {
					color: $NGreen;
					background-color: $NGreenBG;
					cursor: pointer;
					text-align: center;
					font-size: 1.2em;

					&:hover { background-color: darken($NGreenBG, 10) }
				}
				&:not(:last-child){ margin-bottom: 10px }

				> * {
					display: inline-block;

					&:not(:first-child){ margin-left: 5px }
				}
				.id {
					border-right: 2px solid $NBlue;
					padding-right: 5px;
					margin-right: 5px;
					&:before {  content: "#" }
				}
				.name {
					cursor: auto;
				}
			}
		}
	}
}