@import "../../vars";

#users > section {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .staff-block {
    display: inline-block;

    &:not(:last-child) {
      margin-right: .5rem;
    }

    .da-userlink {
      font-size: 1.5rem;
    }
  }

  .letter-group {
    display: block;
    @extend %clearfix;

    &:first-child {
      margin-top: 10px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    strong {
      float: left;
      margin-right: .5em;
      margin-bottom: .1em;
      font-family: $monospace;
      font-size: 2em;
      line-height: 1em;
      position: relative;
      top: -.1em;
    }

    .da-userlink {
      display: inline-block;

      &:not(:last-child) {
        margin-right: .75em;
      }
    }
  }
}
