<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ message }}</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
  <style>
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
    }
    body {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: #fff;
      color: #2C73B1;
      font-family: sans-serif;
    }
    #content img { max-width: 200px }
    #content > * { margin: 0 0 10px }
    #content > :last-child { margin: 0 }
  </style>
</head>
<body>

<div id="content">
  <img src="/img/loading-ring.svg" alt="Loading&hellip;">
  <h1>{{ message }}</h1>
</div>

</body>
</html>
