{# @controller \App\Controllers\ComponentsController::index #}
{% extends 'layout/base.html.twig' %}

{% block content %}
  <div id="content">
    <h1>Heading</h1>
    <p>Sub-heading</p>

    <div class="align-center">
      <button>Regular button</button>
      <button class="darkblue">Dark blue button</button>
      <button class="blue">Blue button</button>
      <button class="green">Green button</button>
      <button class="yellow">Yellow button</button>
      <button class="orange">Orange button</button>
      <button class="red">Red button</button>
      <button class="link">Link button</button>
      <button class="lavender">Lavender button</button>
      <button class="teal">Teal button</button>
    </div>

    <div class="align-center">
      <button class="typcn typcn-brush">With icon</button>
      <button class="typcn typcn-brush darkblue">With icon</button>
      <button class="typcn typcn-brush blue">With icon</button>
      <button class="typcn typcn-brush green">With icon</button>
      <button class="typcn typcn-brush yellow">With icon</button>
      <button class="typcn typcn-brush orange">With icon</button>
      <button class="typcn typcn-brush red">With icon</button>
      <button class="typcn typcn-brush link">With icon</button>
      <button class="typcn typcn-brush lavender">With icon</button>
      <button class="typcn typcn-brush teal">With icon</button>
    </div>

    <div>
      <div class="notice">Single-line notice</div>
      <div class="notice info">Single-line notice</div>
      <div class="notice success">Single-line notice</div>
      <div class="notice caution">Single-line notice</div>
      <div class="notice warn">Single-line notice</div>
      <div class="notice fail">Single-line notice</div>
      <div class="notice reload">Single-line notice</div>

      <div class="notice align-center">Centered notice</div>
      <div class="notice align-center info">Centered notice</div>
      <div class="notice align-center success">Centered notice</div>
      <div class="notice align-center caution">Centered notice</div>
      <div class="notice align-center warn">Centered notice</div>
      <div class="notice align-center fail">Centered notice</div>
      <div class="notice align-center reload">Centered notice</div>

      <div class="notice">
        <label>Notice with title</label>
        <p>Notice contents</p>
      </div>
      <div class="notice info">
        <label>Notice with title</label>
        <p>Notice contents</p>
      </div>
      <div class="notice success">
        <label>Notice with title</label>
        <p>Notice contents</p>
      </div>
      <div class="notice caution">
        <label>Notice with title</label>
        <p>Notice contents</p>
      </div>
      <div class="notice warn">
        <label>Notice with title</label>
        <p>Notice contents</p>
      </div>
      <div class="notice fail">
        <label>Notice with title</label>
        <p>Notice contents</p>
      </div>
      <div class="notice reload">
        <label>Notice with title</label>
        <p>Notice contents</p>
      </div>
    </div>

    <p>Regular paragraph with <a href="#">a link</a>. <em>Emphasis</em> mine. What a <strong>bold</strong> statement.</p>
  </div>
{% endblock %}
