{% if fatal_error is not defined or not fatal_error -%}
  {%- if git_info is defined %}{{ git_info }} | {% endif %}<a href="/about/privacy">Privacy Policy</a> |&#32;
{%- endif -%}
<a class="send-feedback">Contact Us</a>
