{# @var current_user \App\Models\User #}
{% if wrap is not defined or wrap %}
{% set session_updating = current_session is not empty and current_session.updating %}
{% set classes = 'logged-in' ~ (session_updating ? ' updating-session' : '') %}
<div class='{{ classes }}'{% if session_updating %} title='Updating your session'{% endif %}>
  {% endif %}
  {% include 'layout/_avatar_wrap.html.twig' %}
  <div class="user-data">
    <span class="user-name">{{ signed_in ? current_user.toAnchor : 'Curious Pony' }}</span>
    <span class="user-role">
			<span>{{ signed_in ? current_user.get_role_label : 'Guest' }}</span>
		</span>
  </div>
  {% if wrap is not defined or wrap %}
</div>
{% endif %}
