{# @controller \App\Controllers\UserController::list #}
{# @var sections string[][] #}
{% extends 'layout/base.html.twig' %}

{% block content %}
  <div id="content">
    <h1>{{ title }}</h1>
    {% if permission('staff') -%}
      <p>List of all users in the database</p>
    {%- else -%}
      <p>The people in our community</p>
    {%- endif %}

    {% apply spaceless %}
      <div id="users" class="section-container">
        {% if sections is not null %}
          {% for section in sections %}
            <section>
              <h2>{{ section[0] }}</h2>
              <div>{{ section[1] }}</div>
            </section>
          {% endfor %}
        {% endif %}
      </div>
    {% endapply %}
  </div>
{% endblock %}
