@import url(http://fonts.googleapis.com/css?family=Arimo:400,700,400italic);
@font-face {
	font-family: "Celestia";
	src: url('../font/Celestia Medium Redux.ttf');
	src: local('Celestia Redux Alternate'), local('Celestia Medium Redux'), url('../font/Celestia Medium Redux.ttf') format('truetype');
}
/* Mobile-only Styles */
@media all and (max-width: 650px){
	body { overflow: initial }
	#topbar h1 { margin: 0; font-size: 23px }
	#topbar h1 > .long { display: none }
	#topbar h1 > .short { display: inline }
	header, footer {
		text-align: center;
		position: initial;
	}
	#main {
		position: relative;
		padding: 10px 5px;
		display:flex;
		flex-flow: column;
	}

	#content, #sidebar {
		float: none !important;
		width: 100% !important;
	}
	#content {
		margin-bottom: 10px;
		order: 2;
	}
	
	#sidebar > .welcome .usercard {
		display: block;
		order: 1;
	}
	#sidebar > .quote { display: none }

	.notice > label:first-child { text-align: center; font-size: 1.2em }
}
/* Desktop-only Styles */
@media all and (min-width: 650px){
	body { overflow: auto }

	header, footer {
		z-index: 2;
		left: 0;
	}
	header { top: 0 }
	#topbar {
		height: 65px;
		text-align: center;
		background: #fff;
		overflow: hidden;
		box-sizing: border-box;

		transition: height .7s cubic-bezier(0.23, 1, 0.32, 1);
	}
	header.fixed nav {
		position: fixed;
		top: 0;
		left: 0;
	}
	header.fixed nav a.home > span {
		display: none;
		padding: 0;
	}

	/*noinspection CssOptimizeSimilarProperties*/
	header.fixed nav a.home {
		font-family: "Celestia", sans-serif;
		background-color: #1E3DB3;
		/*noinspection CssUnknownTarget*/
		background-image: url('../img/grid-w-.2.svg'), url('../img/grid-w-.7.svg');
		background-size: 16px, 4px;
		font-size: 18px;
		line-height: .8em;
		padding-right: .4em;
	}
	header.fixed nav a.home:before {
		color: #000;
		text-shadow:
			0 0 0.133em #fff,
			0 0 0.133em #fff,
			0 0 0.133em #fff,
			0 0 0.133em #fff,
			0 0 0.133em #fff,
			0 0 0.133em #fff;
		content: "MLP-VC R&R";
		font-weight: bold;
		display: inline-block;
	}
	header.fixed {
		padding-bottom: 35px;
	}
	#topbar h1 {
		display: inline-block;
		border-radius: 6px;
		margin: 5px 0;
		font-size: 30px;
		line-height: 35px;
		height: 35px;
	}
	#topbar h1 .long { display: inline }
	#topbar h1 .short { display: none }
	nav {
		position: relative;
		z-index: 2;
		height: 35px;
		width: 100%;
		box-sizing: border-box;
	}
	
	#main {
		position: relative;
		z-index: 1;
		padding: 8px 8px 46px 8px;
	}
	#sidebar {
		padding: 0 0 0 10px !important;
	}
	#sidebar .usercard {
		display: inline-block;
	}
	footer {
		position: fixed;
		bottom: 0;
		height: 38px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	/* Element alignment */
	#content, #sidebar {
		float: left;
		box-sizing: border-box;
	}
	#content { width: 70% }
	#sidebar { width: 30% }

	.notice > label:first-child { font-size: 1.4em }
}

/* Global Stuff */
.hidden { display: none }
:focus { outline: 0 }
time[datetime][title] { cursor: help }
small { font-size: .75em }
[disabled], .disabled {
	cursor: not-allowed !important;
	opacity: .5 !important;
	pointer-events: none;
}
.clearfix:before,
.clearfix:after {
	content: ".";
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
.clearfix:after { clear: both }
strong.typcn:before, span.typcn:not(:empty):before, em.typcn:before ,
button:not(:empty):before, .btn:not(:empty):before {
	margin-right: 0.3125em;
}

/* Page layout */
body {
	margin: 0;
	font-family: 'Arimo', sans-serif;
	/*noinspection CssUnknownTarget*/
	background-image:
		url('../img/grid-1E3DB3-.1.svg'),
		url('../img/grid-1E3DB3-.5.svg');
	background-size: 16px, 4px;
}
/* Page layout - Header */
header {
	width: 100%;
}
#topbar {
	position: relative;
	z-index: 3;
	width: 100%;

	font-size: 0;

	font-family: "Celestia", sans-serif;

	user-select: none;
	cursor: default;
}

#topbar:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	/*noinspection CssUnknownTarget*/
	background-image: url('../img/grid-g.svg');
	background-size: 16px;
}
#topbar h1 {
	position: relative;
	z-index: 1;
	padding: 10px;
	overflow: hidden;
}
/*noinspection CssOptimizeSimilarProperties*/
#topbar h1:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: #1E3DB3;
	/*noinspection CssUnknownTarget*/
	background-image: url('../img/grid-w-.2.svg'), url('../img/grid-w-.7.svg');
	background-size: 16px, 4px;
}
#topbar h1 {
	text-shadow:
		0 0 0.133em #fff,
		0 0 0.133em #fff,
		0 0 0.133em #fff,
		0 0 0.133em #fff,
		0 0 0.133em #fff,
		0 0 0.133em #fff,
		0 0 0.133em #fff,
		0 0 0.133em #fff,
		0 0 0.133em #fff,
		0 0 0.133em #fff,
		0 0 0.133em #fff,
		0 0 0.133em #fff,
		0 0 0.133em #fff;
	color: #000;
}
#topbar h1 a {
	text-decoration: none;
	color: inherit;
}
/* Page layout - Header - Navigation */
nav {
	line-height: 0;
	font-size: 0;
	padding: 5px 5px 0 5px;
	background: rgba(0,0,0,.75);
	box-shadow: 0 0 12px rgba(0,0,0,.75);
}
nav a {
	display: inline-block;
	height: 1em;
	line-height: 1em;
	font-size: 18px;
	padding: .2em;
	color: #fff;
	text-decoration: none;
	margin-bottom: 5px;

	border-radius: 3px;

	transition: background-color .2s linear;
}
nav a:not(:last-child){
	margin-right: 5px;
}
nav a.active {
	transition: none;
	background-color: rgba(255,255,255,.4);
	cursor: default;
}
nav a:hover, nav a.active {
	background-color: rgba(255,255,255,.2);
}

/* Page layout - Content & sidebar */
#main {
	z-index: 1;
	width: 100%;
	box-sizing: border-box;

	background: transparent;
}
#main.locked {
	overflow: visible;
}
#content, #sidebar > section {
	border-radius: 5px;
	border: 1px solid rgba(170,170,170,.8);
	background-color: rgba(255,255,255,.6);
	padding: 10px;
	color: #000;
}
#content, #sidebar {
	box-sizing: border-box;
}
#sidebar > section {
	text-align: center;
}
#sidebar > section:not(:last-child){
	margin-bottom: 10px;
}
#sidebar > section > h2 {
	font-size: 24px;
	margin: 0 0 15px;
	font-family: "Celestia", sans-serif;
	font-weight: normal;
}
#sidebar > section p {
	margin: 0;
}
#sidebar #quote {
	display: block;
	margin: 0;
	opacity: 0;
	font-style: italic;
	line-height: 1.2em;
}
#sidebar #quote:before { content: '“' }
#sidebar #quote:after  { content: '”' }
#sidebar #quote[data-cite]:after {
	content: '”\0A—' attr(data-cite);
	white-space: pre-wrap;
}
#sidebar .usercard {
	font-size: 0;
	border: 2px solid;
	color: #777;
	background-color: #efefef;
	border-radius: 4px;
	padding: 3px;
	margin: 5px 0;
}
#sidebar .usercard > * {
	display: block;
}
#sidebar .usercard .avatar-wrap {
	position: relative;
	margin: 3px auto 5px;
	border-radius: 100%;
	border: 1px solid;
	box-shadow: 0 0 5px;
	width: 50px;
	height: 50px;
	background-color: inherit;
	cursor: default;
	user-select: none;
}
#sidebar .usercard .avatar-wrap .avatar {
	border-radius: 100%;
}
#sidebar .usercard .avatar-wrap .badge {
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	background-color: inherit;
	padding: 1px 2px;
	border-radius: 2px;
	line-height: 1em;
	font-size: 12px;
	border: 1px solid;
	height: 1em;
	text-transform: uppercase;
	font-weight: bold;
	pointer-events: none;
	box-shadow: inherit;
}
#sidebar .usercard .un {
	font-size: 22px;
	letter-spacing: 1px;
}
#sidebar .usercard .role {
	font-size: 16px;
}
#sidebar > .welcome .buttons button {
	margin-top: 0;
}
#sidebar > .welcome .links:empty {
	display: none;
}
#sidebar > .welcome .links {
	list-style: none;
	border-radius: 5px;
	color: #777;
	background-color: #efefef;
	border: 1px solid;
	margin: 0 0 10px;
	padding: 5px;
}
#sidebar > .welcome .links:before {
	content: "Useful links";
	display: block;
	border-bottom: 1px solid;
	font-size: 1.2em;
	margin-bottom: 5px;
	text-align: left;
	font-weight: bold;
}
#sidebar > .welcome .links li {
	display: inline-block;
	white-space: normal;
}
#sidebar > .welcome .links li:not(:last-child):after {
	content: "-";
	display: inline-block;
	padding: 0 3px;
}
#sidebar > .welcome .links li a {
	text-decoration:none;
	color: inherit;
	border-bottom: 1px solid transparent;
	transition: border-bottom-color .2s linear;
}
#sidebar > .welcome .links li.active a {
	border-bottom-color: rgba(255,255,255,.5);
}
#sidebar > .welcome .links li:not(.active) a:hover:not(:active) {
	border-bottom-color: initial;
}

/* Page layout - Footer */
footer {
	display: block;
	z-index: 2;
	width: 100%;
	padding: 10px;
	line-height: 18px;
	box-sizing: border-box;
	background: rgba(0,0,0,.75);
	box-shadow: 0 0 12px rgba(0,0,0,.75);

	color: #fff;
}
footer > a {
	color: inherit;
}

/* Global */
img.avatar {
	width: 50px;
	height: 50px;
}

/* Notices */
.notice {
	display: block;
	margin: 0;
	border: 2px solid;
	border-radius: 7px;
	color: #fff;
	background-color: #000;
	padding: 7.5px;
	font-size: 16px;
}
.notice:not(:last-child) {
	margin-bottom: 10px;
}
.notice.info {
	color: #05d;
	background-color: #def;
}
.notice.success {
	color: #090;
	background-color: #dfd;
}
.notice.fail {
	color: #d00;
	background-color: #fdd;
}
.notice.warn {
	color: #d50;
	background-color: #fed;
}
.notice.caution {
	color: #b80;
	background-color: #ffd;
}
.notice > label:first-child {
	display: block;
	padding-bottom: 5px;
	margin-bottom: 10px;
	font-weight: bold;
	border-bottom: 2px solid;
}
.notice > p { margin: 0 !important }
.notice > p:not(:last-child) {
	margin-bottom: 5px;
}

/* buttons */
button, .btn {
	display: inline-block;
	margin: 5px;
	border: 0;
	border-radius: 3px;
	color: #fff;
	background-color: #777;
	padding: 4px 7px;
	font-size: 16px;
	text-decoration: none;
	user-select: none;
	
	opacity: .8;
	cursor: pointer;

	transform-origin: 50% 100%;
	transition: transform .1s linear, opacity .2s linear;
}
button:empty, .btn:empty {
	font-size: .8em;
	padding: 2px;
	width: 1.5em;
	margin:0;
}
button:hover, .btn:hover,
button:focus, .btn:focus {
	opacity: 1;
}
button:active, .btn:active {
	transform: scale(.96);
}
button.blue, .btn.blue,
.notice.info button,
.notice.info .btn {
	color: #ddf;
	background-color: #05d;
}
button.green, .btn.green,
.notice.success button,
.notice.success .btn {
	color: #dfd;
	background-color: #090;
}
button.red, .btn.red,
.notice.fail button,
.notice.fail .btn {
	color: #fdd;
	background-color: #d00;
}
button.orange, .btn.orange,
.notice.warn button,
.notice.warn .btn {
	color: #fed;
	background-color: #d50;
}
button.yellow, .btn.yellow,
.notice.caution button,
.notice.caution .btn {
	color: #ffd;
	background-color: #b80;
}

/* Alignment */
.align-center { text-align: center }
.align-left   { text-align: left   }
.align-right  { text-align: right  }